@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(button) {
  display: inline-block;
  box-sizing: border-box;
  max-height: 40px;
  padding: 12px 40px;
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  line-height: 20px;
  line-height: var(--line-height-button);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-bitton);
  white-space: nowrap;
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
  border: none;
  border-radius: var(--border-radius-base);
  outline: none;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.25),
    1px 1px 3px rgba(174, 174, 192, 0.4), 4px 4px 8px rgba(174, 174, 192, 0.4),
    -4px -4px 12px #fff;
  cursor: pointer;
  transition: background-color 0.1s;
  -webkit-appearance: none;
  @include utils-user-select(none);

  & + & {
    margin-left: 10px;
  }

  &:hover {
    background-image: none;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.25),
      1px 1px 4px rgba(174, 174, 192, 0.4), 4px 4px 8px rgba(174, 174, 192, 0.4),
      -4px -4px 8px rgba(255, 255, 255, 0.8);
  }

  &:active {
    background-image: none;
    box-shadow: var(--box-shadow-pressed);
  }

  &:visited {
    background: var(--gradient-primary);
    box-shadow: var(--box-shadow-primary);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  .el-icon-right {
    margin-left: 10px;
  }

  & [class*='el-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  & [class*='q-icon-'] {
    transform: scale(1.5);

    & + span {
      margin-left: 10px;
    }
  }

  @include m(primary) {
    width: 200px;
  }

  @include when(plain) {
    color: var(--color-primary-blue);
    background: var(--color-controls-dark);
    box-shadow: var(--box-shadow-primary);

    &:hover {
      color: #fff;
      background: var(--color-primary);
      box-shadow: var(--box-shadow-hover);
    }

    &:active {
      outline: none;
      box-shadow: var(--box-shadow-pressed);
    }
  }

  @include when(disabled) {
    color: var(--color-opacity-gray-dark);
    background: var(--color-controls-dark);
    cursor: not-allowed;

    &:active {
      box-shadow: var(--box-shadow-primary);
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain,
    &.is-circle {
      color: var(--color-opacity-gray-dark);

      &:active {
        box-shadow: var(--box-shadow-primary);
      }

      &:hover {
        color: var(--color-opacity-gray-dark);
        background: var(--color-controls-dark);
      }
    }
  }

  @include when(loading) {
    position: relative;
    padding: 4px 40px;
    pointer-events: none;

    span {
      display: none;
    }

    .el-icon-loading {
      &::before {
        content: '\e91b';
        font-size: 30px;
        font-family: 'qicon';
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      pointer-events: none;
    }
  }

  @include when(circle) {
    max-width: 24px;
    max-height: 24px;
    padding: 6px;
    line-height: 12px;
    color: var(--color-primary-blue);
    background: var(--color-controls-dark);
    border-radius: 50%;
    box-shadow: var(--box-shadow-primary);

    &:hover {
      color: #fff;
      background: var(--color-primary);
      box-shadow: var(--box-shadow-hover);
    }

    &:active {
      box-shadow: var(--box-shadow-pressed);
    }
  }
}
