@charset 'UTF-8';
@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(button) {
  display: inline-block;
  box-sizing: border-box;
  max-height: 40px;
  padding: 12px 40px;
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  line-height: 20px;
  line-height: var(--line-height-button);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-base);
  white-space: nowrap;
  background-color: var(--color-primary);
  background-image: var(--gradient-primary);
  border: none;
  border-radius: var(--border-radius-base);
  outline: none;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.25),
    1px 1px 3px rgba(174, 174, 192, 0.4), 4px 4px 8px rgba(174, 174, 192, 0.4),
    -4px -4px 12px #fff;
  cursor: pointer;
  transition: background-color 0.1s;
  -webkit-appearance: none;
  @include utils-user-select(none);

  & + & {
    margin-left: 10px;
  }

  &:hover {
    background-image: none;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.25),
      1px 1px 4px rgba(174, 174, 192, 0.4), 4px 4px 8px rgba(174, 174, 192, 0.4),
      -4px -4px 8px rgba(255, 255, 255, 0.8);
  }

  &:active {
    background-image: none;
    box-shadow: var(--box-shadow-pressed);
  }

  &:visited {
    background: var(--gradient-primary);
    box-shadow: var(--box-shadow-primary);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  .el-icon-right {
    margin-left: 10px;
  }

  & [class*='el-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  & [class*='q-icon-'] {
    & + span {
      margin-left: 10px;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 16px;

    .el-icon-right {
      margin-left: 0;
    }

    .el-icon-left {
      margin-right: 0;
    }
  }

  @include m(medium) {
    &.icon {
      width: 40px;
      height: 40px;
      font-size: 24px;
    }
    @include when(circle) {
      &.icon {
        width: 40px;
        height: 40px;
      }
    }
  }

  @include m(primary) {
    width: 200px;
  }

  @include when(plain) {
    color: var(--color-primary-blue);
    background: var(--color-tertiary-gray);
    box-shadow: var(--box-shadow-primary);

    &:hover {
      color: #fff;
      background: var(--color-primary);
      box-shadow: var(--box-shadow-hover);
    }

    &:active {
      outline: none;
      box-shadow: var(--box-shadow-pressed);
    }
  }

  @include when(disabled) {
    color: rgba(var(--color-rgb-gray), 0.64);
    background: var(--color-tertiary-gray);
    cursor: not-allowed;

    &:active {
      box-shadow: var(--box-shadow-primary);
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain,
    &.is-circle {
      color: rgba(var(--color-rgb-gray), 0.64);

      &:active {
        box-shadow: var(--box-shadow-primary);
      }

      &:hover {
        color: rgba(var(--color-rgb-gray), 0.64);
        background: var(--color-tertiary-gray);
      }
    }
  }

  @include when(loading) {
    position: relative;
    padding: 12px 40px;
    pointer-events: none;

    span {
      margin-left: 0;
      visibility: hidden;
    }

    .el-icon-loading {
      position: absolute;
      top: calc(50% - 15px);
      left: calc(50% - 14px);
      animation: rotating 2s linear infinite;

      &::before {
        content: '\e91b';
        font-size: 30px;
        font-family: 'qicon';
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      pointer-events: none;
    }
  }

  @include when(circle) {
    width: 24px;
    height: 24px;
    padding: 6px;
    line-height: 12px;
    color: var(--color-primary-blue);
    background: var(--color-tertiary-gray);
    border-radius: 50%;
    box-shadow: var(--box-shadow-primary);

    &:hover {
      color: #fff;
      background: var(--color-primary);
      box-shadow: var(--box-shadow-hover);
    }

    &:active {
      box-shadow: var(--box-shadow-pressed);
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
