@import 'mixins/mixins';
@import 'common/var';
@import './checkbox';
@import './radio';
@import './scrollbar';

@include b(cascader-panel) {
  display: flex;
  font-weight: 500;
  font-size: $--cascader-menu-font-size;
  font-size: 14px;
  line-height: 20px;
}

@include b(cascader-menu) {
  box-sizing: border-box;
  min-width: 194px;
  overflow: visible;
  color: var(--color-primary-blue);

  &:last-child {
    border-right: none;

    .el-cascader-node {
      padding-right: 20px;
    }
  }

  @include e(wrap) {
    height: auto;
    max-height: 304px;
    border-radius: 4px;
    box-shadow: var(--box-shadow-primary);
  }

  @include e(list) {
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include e(hover-zone) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include e(empty-text) {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: $--cascader-color-empty;
    transform: translate(-50%, -50%);
  }
}

@include b(cascader-node) {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 34px;
  margin-top: 1px;
  margin-right: 0.5px;
  margin-left: 0.5px;
  padding: 4px 8px;
  line-height: 34px;
  background-color: var(--color-controls-medium);
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.25),
      1px 1px 3px rgba(174, 174, 192, 0.4);
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.is-selectable.in-active-path {
    color: $--cascader-menu-font-color;
  }

  &:not(.is-disabled) {
    cursor: pointer;

    &:hover {
      position: relative;
      z-index: 1;
      background: var(--color-controls-dark);
    }
  }

  &.in-active-path,
  &.is-selectable.in-checked-path,
  &.is-active {
    position: relative;
    z-index: 0;
    color: var(--color-primary-black);
    background-color: var(--color-controls-primary);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.25),
      1px 1px 3px rgba(174, 174, 192, 0.4);
  }

  @include when(disabled) {
    color: $--cascader-node-color-disabled;
    cursor: not-allowed;
  }

  @include e(prefix) {
    position: absolute;
    left: 2px;
    transform: scale(0.7);
  }

  @include e(postfix) {
    position: absolute;
    right: 10px;
  }

  @include e(label) {
    flex: 1;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  > .el-radio {
    margin-right: 0;

    .el-radio__label {
      padding-left: 0;
    }
  }
}
