@import 'mixins/mixins';
@import 'common/var';
@import './input';
@import './popper';
@import './tag';
@import './cascader-panel';

@include b(cascader) {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: var(--font-size-base);

  &:not(.is-disabled):hover {
    .el-input__inner {
      cursor: pointer;
    }
  }

  .el-input {
    cursor: pointer;

    .el-input__inner {
      text-overflow: ellipsis;
    }

    .el-input__icon {
      &::before {
        content: '\e90b';
        font-size: 24px;
        font-family: 'qicon';
      }

      &:hover {
        color: var(--color-primary-blue);
      }
    }

    .el-icon-arrow-down {
      transition: transform 0.3s;

      &::before {
        content: '\e922';
        font-size: 24px;
        font-family: 'qicon';
      }

      &:hover {
        color: var(--color-primary-blue);
        background-color: unset;
      }

      @include when(reverse) {
        transform: rotateZ(180deg);
      }
    }

    @include when(focus) {
      .el-input__inner {
        background-color: var(--color-controls-primary);
        box-shadow: var(--box-shadow-focus);
      }
    }
  }

  @include e(tags) {
    position: absolute;
    top: 50%;
    right: 30px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    line-height: normal;
    text-align: left;
    transform: translateY(-50%);

    .el-tag {
      display: inline-flex;
      align-items: center;
      max-width: calc(100% - 15px);
      margin: 2px 0 2px 8px;
      color: var(--color-opacity-gray-dark);
      text-overflow: ellipsis;
      background: var(--color-gray);
      border: none;
      border-radius: 2px;

      &:not(.is-hit) {
        border-color: transparent;
      }

      > span {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .el-icon-close {
        flex: none;
        border-radius: unset;

        &:hover {
          color: var(--color-primary-blue);
          background-color: unset;
        }

        &::before {
          content: '\e90b';
          font-size: 20px;
          line-height: 18px;
          font-family: 'qicon';
        }
      }
    }
  }

  @include e(suggestion-panel) {
    height: auto;
    max-height: 304px;
    border-radius: 4px;
    box-shadow: var(--box-shadow-primary);
  }

  @include e(suggestion-list) {
    max-height: 304px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  @include e(suggestion-item) {
    position: relative;
    z-index: 1;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    margin: 1px 0 0;
    padding: 4px 16px;
    line-height: 34px;
    text-align: left;
    color: var(--color-primary-blue);
    background-color: var(--color-controls-medium);
    outline: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.25),
        1px 1px 3px rgba(174, 174, 192, 0.4);
    }

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      color: var(--color-primary-black);
      background: var(--color-controls-dark);
    }

    &.is-checked {
      color: var(--color-primary-black);
      background-color: var(--color-controls-primary);
      box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.25),
        1px 1px 3px rgba(174, 174, 192, 0.4);

      .el-icon-check {
        display: none;
      }
    }

    > span {
      margin-right: 10px;
    }
  }
  @include e(empty-text) {
    margin: 10px 0;
    color: var(--color-controls-black);
  }

  @include e(search-input) {
    flex: 1;
    box-sizing: border-box;
    min-width: 60px;
    height: 24px;
    margin: 2px 0 2px 15px;
    padding: 0;
    border: none;
    outline: none;
  }
}
