@import 'mixins/mixins';
@import 'common/var';

@include b(notification) {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  width: 552px;
  padding: 22px 0;
  overflow: hidden;
  background-color: var(--color-controls-primary);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-pressed);
  transition: opacity 0.3s, transform 0.3s, left 0.3s, right 0.3s, top 0.4s,
    bottom 0.3s;

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @include e(group) {
    width: 415px;
    margin-right: 57px;
    margin-left: 80px;
  }

  @include e(title) {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-primary-black);
  }

  @include e(content) {
    display: flex;
    align-items: center;
    min-height: 44px;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-primary-black);

    p {
      margin: 0;
    }
  }

  @include e(icon) {
    position: absolute;
    top: 28px;
    left: 24px;

    &::before {
      font-size: 32px;
      font-family: 'qicon';
    }
  }

  @include e(closeBtn) {
    position: absolute;
    top: 32px;
    right: 16px;
    font-size: 24px;
    text-align: center;
    color: var(--color-primary-blue);
    cursor: pointer;

    &::before {
      content: '\e90b';
      font-size: 24px;
      font-family: 'qicon';
    }
  }

  .el-icon-success {
    color: var(--color-secondary-green);

    &::before {
      content: '\e909';
    }
  }

  .el-icon-error {
    color: var(--color-secondary-orange);

    &::before {
      content: '\e92f';
    }
  }

  .el-icon-info {
    color: var(--color-opacity-gray-medium);

    &::before {
      content: '\e92e';
    }
  }

  .el-icon-warning {
    color: var(--color-secondary-yellow);

    &::before {
      content: '\e92f';
    }
  }
}

.el-notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.el-notification-fade-leave-active {
  opacity: 0;
}
