.el-pagination {
  --pagination-color-base: var(--color-primary-blue);
  --pagination-color-hover: var(--color-primary-black);
  --pagination-color-selected: var(--color-primary-black);
  --pagination-color-disabled: rgba(var(--color-rgb-gray), 0.64);

  --pagination-background-color-base: var(--color-tertiary-gray-light);
  --pagination-background-color-hover: var(--color-tertiary-gray);
  --pagination-background-color-selected: var(
    --color-tertiary-gray-ultra-light
  );
  --pagination-background-color-disabled: var(--color-tertiary-gray);

  --pagination-box-shadow-primary: -1px -1px 4px #fff,
    1px 1px 4px rgba(174, 174, 192, 0.4), 4px 4px 8px rgba(174, 174, 192, 0.4),
    -4px -4px 8px rgba(255, 255, 255, 0.25);
  --pagination-box-shadow-secondary: -1px -1px 3px rgba(255, 255, 255, 0.25),
    1px 1px 3px rgba(174, 174, 192, 0.4);

  display: flex;
  margin-top: 24px;
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  white-space: nowrap;

  .btn-prev,
  .btn-next {
    margin: 0;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
    }

    .el-icon {
      display: block;
      font-size: 24px;
      font-family: 'qicon' !important;
    }

    .el-icon-arrow-left::before {
      content: '\e903';
    }

    .el-icon-arrow-right::before {
      content: '\e904';
    }
  }

  .more {
    &.el-icon-more::before {
      content: '...';
    }

    &.el-icon-d-arrow-left,
    &.el-icon-d-arrow-right {
      display: block;
      font-size: 24px;
      font-family: 'qicon' !important;
    }

    &.el-icon-d-arrow-left::before {
      content: '\e92c';
    }

    &.el-icon-d-arrow-right::before {
      content: '\e927';
    }
  }

  .btn-prev,
  .btn-next,
  .number,
  .more {
    box-sizing: border-box;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    text-align: center;
    color: var(--pagination-color-base);
    background-color: var(--pagination-background-color-base);
    border-radius: var(--border-radius-base);
    box-shadow: var(--pagination-box-shadow-primary);
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--pagination-color-hover);
      background-color: var(--pagination-background-color-hover);
    }
  }

  .number,
  .more {
    margin: 0 4px;
    padding: 0 4px;

    &.active {
      color: var(--pagination-color-selected);
      background-color: var(--pagination-background-color-selected);
      box-shadow: var(--pagination-box-shadow-secondary);
      cursor: default;
    }
  }

  .btn-prev:disabled,
  .btn-next:disabled,
  .number.disabled,
  .more.disabled {
    color: var(--pagination-color-disabled);
    background-color: var(--pagination-background-color-disabled);
    box-shadow: var(--pagination-box-shadow-secondary);
    cursor: not-allowed;
  }
}

.el-pager {
  display: flex;
  margin: 0 4px;
  padding: 0;
  list-style: none;
  user-select: none;
}
