@import 'mixins/mixins';
@import 'mixins/utils';
@import 'mixins/button';
@import 'common/var';

@include b(radio) {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-weight: $--radio-font-weight;
  font-size: $--font-size-base;
  line-height: 1;
  color: $--color-black;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  @include utils-user-select(none);

  &:last-child {
    margin-right: 0;
  }

  .el-radio__label {
    vertical-align: middle;
  }

  @include e(input) {
    position: relative;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    outline: none;
    cursor: pointer;

    @include when(disabled) {
      .el-radio__inner {
        cursor: not-allowed;

        &::after,
        & + .el-radio__label {
          cursor: not-allowed;
        }
      }

      &.is-checked .el-radio__inner,
      .el-radio__inner {
        background-color: var(--color-controls-dark);
      }

      &.is-checked {
        .el-radio__inner {
          &::after {
            background-color: var(--color-opacity-gray-dark);
          }
        }
      }

      & + span.el-radio__label {
        color: $--color-black;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-radio__inner {
        background: var(--color-controls-primary);
        border: none;
        box-shadow: var(--box-shadow-pressed);

        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }

      & + .el-radio__label {
        color: $--color-black;
      }
    }
  }

  @include e(inner) {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: $--radio-input-width;
    height: $--radio-input-height;
    background-color: var(--color-controls-medium);
    border-radius: $--radio-input-border-radius;
    outline: none;
    box-shadow: var(--box-shadow-primary);
    cursor: pointer;

    &:hover {
      background-color: var(--color-controls-dark);
      box-shadow: var(--box-shadow-hover);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      background-color: var(--color-primary-blue);
      border-radius: $--radio-input-border-radius;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.15s ease-in;
    }
  }

  @include e(original) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) {
    /*获得焦点时 样式提醒*/
    .el-radio__inner {
      box-shadow: var(--box-shadow-focus);
    }
  }

  @include e(label) {
    padding-left: 8px;
    font-size: $--radio-font-size;
  }
}
