@include b(tabs) {
  @include e(header) {
    position: relative;
    margin: 0 0 15px;
    padding: 0;
  }

  @include e(item) {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    margin: 0 4px;
    line-height: 40px;
    text-align: center;
    color: var(--color-primary-blue);
    background: var(--color-controls-medium);
    border-radius: 4px;
    box-shadow: var(--box-shadow-primary);

    &:focus,
    &:focus:active {
      color: var(--color-primary-blue);
      background-color: var(--color-controls-dark);
      outline: none;
    }

    &:focus.is-active.is-focus:not(:active) {
      background-color: var(--color-controls-primary);
      box-shadow: var(--box-shadow-pressed);
    }

    @include when(active) {
      color: var(--color-primary-black);
      background-color: var(--color-controls-primary);
      box-shadow: var(--box-shadow-pressed);
    }

    &:hover {
      color: var(--color-primary-black);
      background-color: var(--color-controls-dark);
      cursor: pointer;
    }

    @include when(disabled) {
      color: var(--color-opacity-gray-dark);
      background-color: var(--color-controls-dark);
      cursor: not-allowed;

      &:hover {
        color: var(--color-opacity-gray-dark);
        background-color: var(--color-controls-dark);
      }

      &:focus {
        background-color: var(--color-controls-dark);
      }
    }
  }
}
