@import 'mixins/mixins';
@import 'progress';
@import 'common/var';

.upload {
  position: relative;

  &.error {
    .el-upload {
      .el-upload-dragger {
        &::before {
          border: 1px dashed var(--color-secondary-orange);
        }
      }
    }
  }
}

.upload {
  .el-upload-list {
    top: 188px;
  }
}

@include b(upload) {
  position: relative;
  display: inline-block;
  text-align: center;
  outline: none;
  cursor: pointer;
  @include e(input) {
    display: none;
  }

  @include e(tip) {
    margin-top: 7px;
    font-size: 12px;
    color: var(--color-gray);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@include b(upload-dragger) {
  position: relative;
  box-sizing: border-box;
  width: 264px;
  height: 264px;
  overflow: hidden;
  text-align: center;
  color: var(--color-primary-black);
  background-color: var(--color-controls-medium);
  border-radius: 6px;
  outline: none;
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    box-sizing: border-box;
    border: 1px dashed var(--color-opacity-gray-light);
  }

  .q-icon-cloud-upload-fill {
    margin: 90px 0 0;
    font-size: 50px;
    line-height: 50px;
    color: var(--color-primary-blue);
  }

  + .el-upload__tip {
    text-align: center;
    color: var(--color-primary-black);
  }

  ~ .el-upload__files {
    margin-top: 7px;
    padding-top: 5px;
    border-top: $--border-base;
  }

  .el-upload__text {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: var(--color-primary-blue);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);

    em {
      font-style: normal;
      color: var(--color-gray);
    }
  }

  &:hover {
    background-color: var(--color-controls-dark);
    border-color: var(--color-gray);
  }

  &:focus {
    background-color: var(--color-controls-primary);
    box-shadow: var(--box-shadow-pressed);
  }

  @include when(dragover) {
    background-color: rgba(32, 159, 255, 0.06);
    border: 2px dashed var(--color-gray);
  }
}

@include b(upload-list) {
  position: absolute;
  left: 50%;
  width: 216px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  transform: translate(-50%);

  @include e(item) {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    background-color: var(--color-controls-dark);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-pressed);

    &:hover {
      background-color: var(--color-controls-primary);

      .el-upload-list__item-name {
        &::after {
          background: linear-gradient(
            90deg,
            rgba(240, 240, 243, 0.2) 0%,
            var(--color-controls-primary) 31.25% 31.25%
          );
        }
      }

      .el-icon-close {
        display: block;
      }
    }

    &.is-uploading {
      .el-upload-list__item-name {
        &::after {
          left: 130px;
          width: 47px;
        }
      }
    }

    .el-icon-document {
      &::before {
        content: '\e910';
        font-size: 25px;
        font-family: 'qicon';
      }
    }

    .el-progress {
      position: absolute;
      top: 26px;
      left: 50%;
      width: 137px;
      transform: translate(-50%);
    }

    .el-progress__text {
      position: absolute;
      top: -13px;
      right: 0;
      color: var(--color-opacity-gray-dark);
    }

    .el-progress-bar {
      margin-right: 0;
      padding-right: 0;
      background-color: var(--color-controls-medium);

      &__inner {
        background-color: var(--color-primary-blue);
        border-radius: unset;
      }

      &__outer {
        height: 5px;
        background-color: var(--color-opacity-gray-light);
        border-radius: unset;
      }
    }

    &:first-child {
      margin-top: 10px;
    }

    & .el-icon-upload-success {
      color: var(--color-primary-blue);

      &::before {
        content: '\e90b';
        font-size: 21px;
        font-family: 'qicon';
      }
    }

    .el-icon-close {
      position: absolute;
      top: 9px;
      right: 5px;
      cursor: pointer;

      &::before {
        content: '\e90b';
        font-size: 21px;
        font-family: 'qicon';
        color: var(--color-primary-blue);
      }

      &:hover {
        opacity: 1;
      }
    }

    & .el-icon-close-tip {
      display: none;
    }

    @include when(success) {
      .el-upload-list__item-status-label {
        display: block;
      }

      .el-upload-list__item-name:hover,
      .el-upload-list__item-name:focus {
        background-color: var(--color-controls-primary);
        cursor: pointer;
      }

      &:not(.focusing):focus,
      &:active {
        outline-width: 0;

        .el-icon-close-tip {
          display: none;
        }
      }

      &:hover,
      &:focus {
        .el-upload-list__item-status-label {
          display: none;
        }
      }
    }
  }

  @include when(disabled) {
    .el-upload-list__item:hover .el-upload-list__item-status-label {
      display: block;
    }
  }

  @include e(item-name) {
    display: flex;
    align-items: center;
    max-width: 170px;
    margin-right: 20px;
    padding-left: 7px;
    overflow: hidden;
    color: var(--color-opacity-gray-dark);
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      right: 0;
      bottom: 1px;
      left: 172px;
      width: 30px;
      background: linear-gradient(
        90deg,
        rgba(240, 240, 243, 0.2) 0%,
        var(--color-controls-dark) 31.25%
      );
    }

    [class^='el-icon'] {
      height: 100%;
      margin-right: 7px;
      color: $--color-text-secondary;
    }
  }

  @include e(item-status-label) {
    position: absolute;
    top: 9px;
    right: 5px;
    display: none;
    line-height: inherit;
  }

  @include e(item-delete) {
    position: absolute;
    top: 8px;
    right: 10px;
    display: none;
    font-size: 12px;
    color: var(--color-primary-blue);

    &:hover {
      color: var(--color-gray);
    }
  }
}
