@import './q-upload-drop-zone.scss';
@import './q-upload-file.scss';

.q-upload {
  position: relative;
  display: inline-block;

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }
}
