.q-upload-file {
  --text-color: rgba(var(--color-rgb-gray), 0.64);

  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  overflow: hidden;
  background-color: var(--color-tertiary-gray);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-pressed);

  &__file {
    width: 24px;
    margin-right: 8px;
    font-size: 24px;
    color: var(--text-color);
  }

  &__name {
    width: 136px;
    margin-right: auto;
    font-weight: var(--font-weight-base);
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    color: var(--text-color);
  }

  &__btn {
    width: 24px;
    margin-left: 8px;
    padding: 0;
    font-size: 24px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover,
    &.focus-visible {
      color: var(--color-primary-black);
    }
  }

  &__loader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(var(--color-rgb-gray), 0.16);
  }

  &__bar {
    width: 0;
    height: 100%;
    background-color: var(--color-primary-blue);
    transition: width 0.1s ease;
  }
}
