.q-upload {
  position: relative;
  display: inline-flex;

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }

  &_opened-list {
    .q-upload-list {
      transform: translateX(0);
    }
  }
}

.q-upload-drag {
  --background-color: var(--color-tertiary-gray-light);
  --border-color: rgba(var(--color-rgb-gray), 0.16);
  --text-color: var(--color-primary-blue);
  --box-shadow: var(--box-shadow-primary);

  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 264px;
  height: 264px;
  overflow: hidden;
  text-align: center;
  background-color: var(--background-color);
  border-radius: 6px;
  outline: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &:hover,
  &[data-focus-visible-added] {
    --background-color: var(--color-tertiary-gray);
    --box-shadow: var(--box-shadow-hover);
  }

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px dashed var(--border-color);
  }

  &__icon {
    font-size: 40px;
    line-height: 1;
    color: var(--text-color);
  }

  &__text {
    margin-top: 8px;
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color);
    text-transform: uppercase;
  }

  &_is-filled {
    --background-color: var(--color-tertiary-gray-light);
  }

  &_is-dragover {
    --border-color: var(--color-primary-blue);
    --background-color: var(--color-tertiary-gray);
  }

  &_is-loading {
    --background-color: var(--color-tertiary-gray-ultra-light);
    --text-color: rgba(var(--color-rgb-gray), 0.64);
    --box-shadow: var(--box-shadow-pressed);

    &:hover {
      --background-color: var(--color-tertiary-gray-ultra-light);
      --box-shadow: var(--box-shadow-pressed);
    }

    .q-upload-drag__icon {
      animation: rotating 2s linear infinite;
    }
  }

  &_is-disabled {
    --border-color: rgba(var(--color-rgb-gray), 0.64);
    --text-color: rgba(var(--color-rgb-gray), 0.64);
    --background-color: var(--color-tertiary-gray);
    --box-shadow: var(--box-shadow-pressed);

    cursor: not-allowed;

    &:hover {
      --box-shadow: var(--box-shadow-pressed);
    }
  }

  .q-form-item_is-error & {
    --border-color: var(--color-secondary-orange);
  }
}

.q-upload-list {
  position: relative;
  z-index: 1;
  width: 264px;
  margin-left: 16px;
  background-color: var(--color-tertiary-gray-light);
  transform: translateX(calc(-100% - 16px));
  transition: transform 0.5s linear;

  &__header {
    display: flex;
    align-items: center;
    padding: 15px 16px 0;
  }

  &__title {
    margin-right: 8px;
  }

  &__items {
    height: 225px;
    padding: 16px;
  }
}

.file-panel {
  display: flex;
  justify-content: space-between;

  &__icon {
    min-width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &__middle {
    width: 100%;
    margin-right: 8px;
    margin-left: 8px;
  }

  &__name {
    width: 100%;
    margin-right: auto;
    overflow: hidden;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-primary-black);
    text-overflow: ellipsis;
  }

  &__error-text {
    display: none;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-secondary-orange);
  }

  &__progress {
    display: none;
    width: 100%;
    height: 2px;
    background-color: rgba(var(--color-rgb-gray), 0.16);

    &-line {
      height: 2px;
      background-color: var(--color-primary-blue);
    }
  }

  &__remove-btn {
    min-width: 24px;
    height: 24px;
    margin-left: auto;
    padding: 0;
    font-size: 24px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  &_loading {
    .file-panel__icon {
      animation: rotating 2s linear infinite;
    }

    .file-panel__progress {
      display: block;
    }
  }

  &_error {
    .file-panel__icon {
      color: var(--color-secondary-orange);
    }

    .file-panel__error-text {
      display: block;
    }
  }
}

.q-upload-file {
  --text-color: rgba(var(--color-rgb-gray), 0.64);

  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--color-tertiary-gray);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-pressed);

  &__file {
    width: 24px;
    margin-right: 8px;
    font-size: 24px;
    color: var(--text-color);
  }

  &__name {
    width: 136px;
    margin-right: auto;
    font-weight: var(--font-weight-base);
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    color: var(--text-color);
  }

  &__remove {
    width: 24px;
    margin-left: 8px;
    padding: 0;
    font-size: 24px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-primary-black);
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
