.q-upload {
  position: relative;
  display: inline-block;

  &__input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }
}

.q-upload-drag {
  --background-color: var(--color-tertiary-gray-light);
  --border-color: rgba(var(--color-rgb-gray), 0.16);
  --text-color: var(--color-primary-blue);
  --box-shadow: var(--box-shadow-primary);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 264px;
  overflow: hidden;
  text-align: center;
  background-color: var(--background-color);
  border-radius: 6px;
  outline: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;

  &:hover,
  &[data-focus-visible-added] {
    --background-color: var(--color-tertiary-gray);
    --box-shadow: var(--box-shadow-hover);
  }

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px dashed var(--border-color);
  }

  &__icon {
    font-size: 40px;
    line-height: 1;
    color: var(--text-color);
  }

  &__text {
    margin-top: 8px;
    font-weight: var(--font-weight-bold);
    font-size: 12px;
    line-height: 15px;
    color: var(--text-color);
    text-transform: uppercase;
  }

  &_is-filled {
    --background-color: var(--color-tertiary-gray-light);
  }

  &_is-dragover {
    --border-color: var(--color-primary-blue);
    --background-color: var(--color-tertiary-gray);
  }

  &_is-loading {
    --background-color: var(--color-tertiary-gray-ultra-light);
    --text-color: rgba(var(--color-rgb-gray), 0.64);
    --box-shadow: var(--box-shadow-pressed);

    &:hover {
      --background-color: var(--color-tertiary-gray-ultra-light);
      --box-shadow: var(--box-shadow-pressed);
    }

    .q-upload-drag__icon {
      animation: rotating 2s linear infinite;
    }
  }

  &_is-disabled {
    --border-color: rgba(var(--color-rgb-gray), 0.64);
    --text-color: rgba(var(--color-rgb-gray), 0.64);
    --background-color: var(--color-tertiary-gray);
    --box-shadow: var(--box-shadow-pressed);

    cursor: not-allowed;

    &:hover {
      --box-shadow: var(--box-shadow-pressed);
    }
  }

  .q-form-item_is-error & {
    --border-color: var(--color-secondary-orange);
  }
}

.q-upload-files {
  --text-color: rgba(var(--color-rgb-gray), 0.64);

  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--color-tertiary-gray);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-pressed);

  &__file {
    width: 24px;
    margin-right: 8px;
    font-size: 24px;
    color: var(--text-color);
  }

  &__name {
    width: 136px;
    margin-right: auto;
    font-weight: var(--font-weight-base);
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    color: var(--text-color);
  }

  &__show-more {
    width: 24px;
    margin-left: 8px;
    padding: 0;
    font-size: 24px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__remove {
    width: 24px;
    margin-left: 8px;
    padding: 0;
    font-size: 24px;
    color: var(--color-primary-blue);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-primary-black);
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
