$--base-path: '.' !default;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'qicon';
  src: url('#{$--base-path}/icons/qicon.woff?29042020') format('woff');
  font-display: block;
}

[class^='el-icon-'],
[class*=' el-icon-'],
[class^='q-icon-'],
[class*=' q-icon-'] {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  vertical-align: baseline;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='q-icon-'],
[class*=' q-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'qicon' !important;
}

.q-icon-account::before {
  content: '\e900';
}

.q-icon-account-group::before {
  content: '\e901';
}

.q-icon-account-settings::before {
  content: '\e902';
}

.q-icon-arrow-left::before {
  content: '\e903';
}

.q-icon-arrow-right::before {
  content: '\e904';
}

.q-icon-bell::before {
  content: '\e905';
}

.q-icon-bell-ring::before {
  content: '\e906';
}

.q-icon-calendar-refresh::before {
  content: '\e907';
}

.q-icon-calendar::before {
  content: '\e908';
}

.q-icon-check::before {
  content: '\e909';
}

.q-icon-checkbox-square-multiply-non::before {
  content: '\e90a';
}

.q-icon-close::before {
  content: '\e90b';
}

.q-icon-cloud-upload::before {
  content: '\e90c';
}

.q-icon-diagram-round::before {
  content: '\e90d';
}

.q-icon-dots-3-horizontal::before {
  content: '\e90e';
}

.q-icon-envelope-edit::before {
  content: '\e90f';
}

.q-icon-file::before {
  content: '\e910';
}

.q-icon-graph-gisto::before {
  content: '\e911';
}

.q-icon-lock::before {
  content: '\e912';
}

.q-icon-logout::before {
  content: '\e913';
}

.q-icon-minus::before {
  content: '\e914';
}

.q-icon-pause::before {
  content: '\e915';
}

.q-icon-pic::before {
  content: '\e916';
}

.q-icon-proceed-2::before {
  content: '\e917';
}

.q-icon-proceed-1::before {
  content: '\e918';
}

.q-icon-question-mark::before {
  content: '\e919';
}

.q-icon-question::before {
  content: '\e91a';
}

.q-icon-reverse::before {
  content: '\e91b';
}

.q-icon-rubles::before {
  content: '\e91c';
}

.q-icon-search::before {
  content: '\e91d';
}

.q-icon-settings-vertical::before {
  content: '\e91e';
}

.q-icon-stop-2::before {
  content: '\e91f';
}

.q-icon-stop-1::before {
  content: '\e920';
}

.q-icon-trash-bin::before {
  content: '\e921';
}

.q-icon-triangle-down::before {
  content: '\e922';
}

.q-icon-triangle-up::before {
  content: '\e923';
}

.q-icon-view-list::before {
  content: '\e924';
}

.q-icon-wallet::before {
  content: '\e925';
}

.q-icon-wifi::before {
  content: '\e926';
}

.q-icon-triangle-right::before {
  content: '\e927';
}

.q-icon-arrow-down::before {
  content: '\e928';
}

.q-icon-arrow-up::before {
  content: '\e929';
}

.q-icon-double-triangle-left::before {
  content: '\e92a';
}

.q-icon-double-triangle-right::before {
  content: '\e92b';
}

.q-icon-triangle-left::before {
  content: '\e92c';
}

.q-icon-eye-stroke::before {
  content: '\e92d';
}

.q-icon-info::before {
  content: '\e92e';
}

.q-icon-attention-mark::before {
  content: '\e92f';
}

.q-icon-lock-fill::before {
  content: '\e930';
}
