@import '../common/var';

@include b(picker-panel) {
  margin: 5px 0;
  line-height: 30px;
  color: $--color-info;
  background: $--color-white;
  border: 1px solid $--datepicker-border-color;
  border-radius: $--border-radius-base;
  box-shadow: $--box-shadow-light;

  @include e((body, body-wrapper)) {
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  @include e(content) {
    position: relative;
    margin: 15px;
  }

  @include e(footer) {
    position: relative;
    padding: 4px;
    font-size: 0;
    text-align: right;
    background-color: $--color-white;
    border-top: 1px solid $--datepicker-inner-border-color;
  }

  @include e(shortcut) {
    display: block;
    width: 100%;
    padding-left: 12px;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: $--datepicker-color;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $--datepicker-text-hover-color;
    }

    &.active {
      color: $--datepicker-active-color;
      background-color: var(--color-light-gray);
    }
  }

  @include e(btn) {
    padding: 0 20px;
    font-size: 12px;
    line-height: 24px;
    color: var(--warm-grey-color);
    background-color: transparent;
    border: 1px solid var(--color-dark-gray);
    border-radius: 2px;
    outline: none;
    cursor: pointer;

    &[disabled] {
      color: var(--color-medium-gray);
      cursor: not-allowed;
    }
  }

  @include e(icon-btn) {
    margin-top: 8px;
    font-size: 12px;
    color: $--datepicker-icon-color;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $--datepicker-text-hover-color;
    }

    @include when(disabled) {
      color: $--font-color-disabled-base;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  @include e(link-btn) {
    vertical-align: middle;
  }
}

.el-picker-panel *[slot='sidebar'],
.el-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 110px;
  padding-top: 6px;
  overflow: auto;
  background-color: $--color-white;
  border-right: 1px solid $--datepicker-inner-border-color;
}

.el-picker-panel *[slot='sidebar'] + .el-picker-panel__body,
.el-picker-panel__sidebar + .el-picker-panel__body {
  margin-left: 110px;
}
