@import '../common/var';

@include b(time-range-picker) {
  width: 354px;
  overflow: visible;

  @include e(content) {
    position: relative;
    padding: 10px;
    text-align: center;
  }

  @include e(cell) {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 4px 7px 7px;
  }

  @include e(header) {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
  }

  @include e(body) {
    border: 1px solid $--datepicker-border-color;
    border-radius: 2px;
  }
}
