.q-slider {
  position: relative;
  width: 100%;

  &__path {
    position: relative;
    width: 100%;
    height: 8px;
    vertical-align: middle;
    background-color: var(--color-tertiary-gray);
    border-radius: 4px;
    box-shadow: var(--box-shadow-line);
    cursor: pointer;
  }

  &_is-disabled {
    .q-slider {
      &__path {
        cursor: default;
      }
    }

    .slider-button {
      &__target {
        background-color: var(--color-tertiary-gray-light);

        &:hover {
          background-color: var(--color-tertiary-gray-light);
        }
      }

      &:focus {
        .slider-button__target {
          background-color: var(--color-tertiary-gray-light);
        }
      }

      &:hover {
        cursor: not-allowed;

        .slider-button__target {
          background-color: var(--color-tertiary-gray-light);
        }
      }
    }

    .slider-bar {
      width: 8px;
      background-color: rgba(var(--color-rgb-gray), 0.32);
    }

    .slider-captions {
      &__btn {
        cursor: default;
      }
    }
  }

  &_is-vertical {
    width: auto;
    min-width: 0;
    height: 196px;

    .q-slider {
      &__path {
        width: 8px;
        height: 100%;
      }
    }

    .slider-button {
      top: auto;
      left: -14px;
      transform: translateY(50%);
    }

    .slider-bar {
      width: 8px;
      height: auto;
    }

    .slider-steps {
      &__item {
        top: auto;
        width: 8px;
        height: 4px;
        transform: translateY(50%);
      }
    }

    .slider-captions {
      position: absolute;
      top: 0;
      left: 12px;
      width: 20px;
      height: 100%;

      &__btn {
        top: auto;
        left: 0;
        transform: translateY(50%);
      }
    }
  }
}

.slider-button {
  position: absolute;
  top: -15px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  border: none;
  transform: translateX(-50%);
  user-select: none;

  &__target {
    width: 16px;
    height: 16px;
    background-color: var(--color-tertiary-gray-light);
    border-radius: 50%;
    box-shadow: var(--box-shadow-hover);
    user-select: none;
  }

  &__tooltip {
    position: absolute;
    bottom: 100%;
    min-width: 24px;
    padding: 5px 4px;
    text-align: center;
    color: var(--color-primary-black);
    white-space: nowrap;
    background-color: var(--color-tertiary-gray-lighter);
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-secondary);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s opacity;
  }

  &:hover,
  &:focus {
    z-index: 3;
    outline: none;

    .slider-button__target {
      background-color: var(--color-primary);
    }

    .slider-button__tooltip {
      z-index: 3;
      visibility: visible;
      opacity: 1;
    }
  }
}

.slider-bar {
  position: absolute;
  z-index: 1;
  height: 8px;
  background-color: var(--color-primary-blue-light);
  border-radius: 3px;
}

.slider-steps {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__item {
    position: absolute;
    top: 1px;
    width: 6px;
    height: 6px;
    background-color: var(--color-tertiary-gray-lighter);
    box-shadow: 1px 1px 2px rgba(var(--color-rgb-blue), 0.2),
      -1px -1px 1px rgba(var(--color-rgb-white), 0.7);
    transform: translateX(-50%);

    &:first-child,
    &:last-child {
      display: none;
    }
  }
}

.slider-captions {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 8px;

  &__btn {
    position: absolute;
    top: 0;
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: rgba(var(--color-rgb-gray), 0.32);
    background-color: transparent;
    border: none;
    transform: translateX(-50%);

    &:hover,
    &:focus,
    &_selected {
      color: var(--color-primary-black);
    }
  }
}
