.q-radio-group {
  display: flex;
  font-size: 0;
  line-height: 1;
  vertical-align: middle;

  &_vertical {
    flex-direction: column;
  }

  &_horizontal {
    .q-radio:not(:last-child) {
      margin-right: 32px;
    }
  }

  .q-radio:not(:last-child) {
    margin-bottom: 16px;
  }
}
