@import 'mixins/mixins';
@import 'common/var';

@include b(backtop) {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: $--backtop-font-color;
  background-color: $--backtop-background-color;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;

  &:hover {
    background-color: $--backtop-hover-background-color;
  }
}
