@import 'common/var';
@import 'mixins/mixins';
@import 'mixins/_button';
@import 'mixins/utils';

@include b(checkbox) {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-weight: $--checkbox-font-weight;
  font-size: $--font-size-base;
  color: $--checkbox-font-color;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  @include when(bordered) {
    box-sizing: border-box;
    height: $--checkbox-bordered-height;
    padding: $--checkbox-bordered-padding;
    line-height: normal;
    border: $--border-base;
    border-radius: $--border-radius-base;

    &.is-checked {
      border-color: $--color-primary;
    }

    &.is-disabled {
      border-color: $--border-color-lighter;
      cursor: not-allowed;
    }

    & + .el-checkbox.is-bordered {
      margin-left: 10px;
    }

    &.el-checkbox--medium {
      height: $--checkbox-bordered-medium-height;
      padding: $--checkbox-bordered-medium-padding;
      border-radius: $--button-medium-border-radius;

      .el-checkbox__label {
        font-size: $--button-medium-font-size;
        line-height: 17px;
      }

      .el-checkbox__inner {
        width: $--checkbox-bordered-medium-input-width;
        height: $--checkbox-bordered-medium-input-height;
      }
    }

    &.el-checkbox--small {
      height: $--checkbox-bordered-small-height;
      padding: $--checkbox-bordered-small-padding;
      border-radius: $--button-small-border-radius;

      .el-checkbox__label {
        font-size: $--button-small-font-size;
        line-height: 15px;
      }

      .el-checkbox__inner {
        width: $--checkbox-bordered-small-input-width;
        height: $--checkbox-bordered-small-input-height;

        &::after {
          width: 2px;
          height: 6px;
        }
      }
    }

    &.el-checkbox--mini {
      height: $--checkbox-bordered-mini-height;
      padding: $--checkbox-bordered-mini-padding;
      border-radius: $--button-mini-border-radius;

      .el-checkbox__label {
        font-size: $--button-mini-font-size;
        line-height: 12px;
      }

      .el-checkbox__inner {
        width: $--checkbox-bordered-mini-input-width;
        height: $--checkbox-bordered-mini-input-height;

        &::after {
          width: 2px;
          height: 6px;
        }
      }
    }
  }

  @include e(input) {
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    outline: none;
    cursor: pointer;

    @include when(disabled) {
      .el-checkbox__inner {
        background-color: $--checkbox-disabled-input-fill;
        border-color: $--checkbox-disabled-border-color;
        cursor: not-allowed;

        &::after {
          border-color: $--checkbox-disabled-icon-color;
          cursor: not-allowed;
        }

        & + .el-checkbox__label {
          cursor: not-allowed;
        }
      }

      &.is-checked {
        .el-checkbox__inner {
          background-color: $--checkbox-disabled-checked-input-fill;
          border-color: $--checkbox-disabled-checked-input-border-color;

          &::after {
            border-color: $--checkbox-disabled-checked-icon-color;
          }
        }
      }

      &.is-indeterminate {
        .el-checkbox__inner {
          background-color: $--checkbox-disabled-checked-input-fill;
          border-color: $--checkbox-disabled-checked-input-border-color;

          &::before {
            background-color: $--checkbox-disabled-checked-icon-color;
            border-color: $--checkbox-disabled-checked-icon-color;
          }
        }
      }

      & + span.el-checkbox__label {
        color: $--disabled-color-base;
        cursor: not-allowed;
      }
    }

    @include when(checked) {
      .el-checkbox__inner {
        background-color: $--checkbox-checked-background-color;
        border-color: $--checkbox-checked-input-border-color;

        &::after {
          transform: rotate(45deg) scaleY(1);
        }
      }

      & + .el-checkbox__label {
        color: $--checkbox-checked-font-color;
      }
    }
    @include when(focus) {
      /*focus时 视觉上区分*/
      .el-checkbox__inner {
        border-color: $--checkbox-input-border-color-hover;
      }
    }
    @include when(indeterminate) {
      .el-checkbox__inner {
        background-color: $--checkbox-checked-background-color;
        border-color: $--checkbox-checked-input-border-color;

        &::before {
          content: '';
          position: absolute;
          top: 5px;
          right: 0;
          left: 0;
          display: block;
          height: 2px;
          background-color: $--checkbox-checked-icon-color;
          transform: scale(0.5);
        }

        &::after {
          display: none;
        }
      }
    }
  }
  @include e(inner) {
    position: relative;
    z-index: $--index-normal;
    display: inline-block;
    box-sizing: border-box;
    width: $--checkbox-input-width;
    height: $--checkbox-input-height;
    background-color: $--checkbox-background-color;
    border: $--checkbox-input-border;
    border-radius: $--checkbox-border-radius;
    transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
      background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);

    &:hover {
      border-color: $--checkbox-input-border-color-hover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 4px;
      box-sizing: content-box;
      width: 3px;
      height: 7px;
      border: 1px solid $--checkbox-checked-icon-color;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scaleY(0);
      transform-origin: center;
      transition: transform 0.15s ease-in 0.05s;
    }
  }

  @include e(original) {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    margin: 0;
    outline: none;
    opacity: 0;
  }

  @include e(label) {
    display: inline-block;
    padding-left: 10px;
    font-size: $--checkbox-font-size;
    line-height: 19px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

@include b(checkbox-button) {
  position: relative;
  display: inline-block;

  @include e(inner) {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    font-weight: $--checkbox-font-weight;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    color: $--button-default-font-color;
    white-space: nowrap;
    background: $--button-default-background-color;
    border: $--border-base;
    border-left: 0;
    outline: none;
    cursor: pointer;
    transition: $--all-transition;
    -webkit-appearance: none;
    @include utils-user-select(none);

    @include button-size(
      $--button-padding-vertical,
      $--button-padding-horizontal,
      $--button-font-size,
      0
    );

    &:hover {
      color: $--color-primary;
    }

    & [class*='el-icon-'] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(original) {
    position: absolute;
    z-index: -1;
    margin: 0;
    outline: none;
    opacity: 0;
  }

  &.is-checked {
    & .el-checkbox-button__inner {
      color: $--checkbox-button-checked-font-color;
      background-color: $--checkbox-button-checked-background-color;
      border-color: $--checkbox-button-checked-border-color;
      box-shadow: -1px 0 0 0 $--color-primary-light-4;
    }

    &:first-child .el-checkbox-button__inner {
      border-left-color: $--checkbox-button-checked-border-color;
    }
  }

  &.is-disabled {
    & .el-checkbox-button__inner {
      color: $--button-disabled-font-color;
      background-color: $--button-disabled-background-color;
      background-image: none;
      border-color: $--button-disabled-border-color;
      box-shadow: none;
      cursor: not-allowed;
    }

    &:first-child .el-checkbox-button__inner {
      border-left-color: $--button-disabled-border-color;
    }
  }

  &:first-child {
    .el-checkbox-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  &.is-focus {
    & .el-checkbox-button__inner {
      border-color: $--checkbox-button-checked-border-color;
    }
  }

  &:last-child {
    .el-checkbox-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }
  @include m(medium) {
    .el-checkbox-button__inner {
      @include button-size(
        $--button-medium-padding-vertical,
        $--button-medium-padding-horizontal,
        $--button-medium-font-size,
        0
      );
    }
  }
  @include m(small) {
    .el-checkbox-button__inner {
      @include button-size(
        $--button-small-padding-vertical,
        $--button-small-padding-horizontal,
        $--button-small-font-size,
        0
      );
    }
  }
  @include m(mini) {
    .el-checkbox-button__inner {
      @include button-size(
        $--button-mini-padding-vertical,
        $--button-mini-padding-horizontal,
        $--button-mini-font-size,
        0
      );
    }
  }
}

@include b(checkbox-group) {
  font-size: 0;
}
