@import 'mixins/mixins';

@include b(container) {
  display: flex;
  flex: 1;
  flex-basis: auto;
  flex-direction: row;
  box-sizing: border-box;
  min-width: 0;

  @include when(vertical) {
    flex-direction: column;
  }
}
