@import 'mixins/mixins';
@import 'mixins/utils';
@import 'common/var';
@import 'select';

@include b(pagination) {
  padding: 2px 5px;
  font-weight: 700;
  color: $--pagination-font-color;
  white-space: nowrap;
  @include utils-clearfix;

  span:not([class*='suffix']),
  button {
    display: inline-block;
    box-sizing: border-box;
    min-width: $--pagination-button-width;
    height: $--pagination-button-height;
    font-size: $--pagination-font-size;
    line-height: $--pagination-button-height;
    vertical-align: top;
  }

  .el-input__inner {
    line-height: normal;
    text-align: center;
    -moz-appearance: textfield;
  }

  // pagesize 的下拉 icon
  .el-input__suffix {
    right: 0;
    transform: scale(0.8);
  }

  .el-select .el-input {
    width: 100px;
    margin: 0 5px;

    .el-input__inner {
      padding-right: 25px;
      border-radius: $--pagination-border-radius;
    }
  }

  button {
    padding: 0 6px;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $--pagination-hover-color;
    }

    &:disabled {
      color: $--pagination-button-disabled-color;
      background-color: $--pagination-button-disabled-background-color;
      cursor: not-allowed;
    }
  }

  .btn-prev,
  .btn-next {
    margin: 0;
    color: $--pagination-button-color;
    background: center center no-repeat;
    background-color: $--pagination-background-color;
    background-size: 16px;
    cursor: pointer;

    .el-icon {
      display: block;
      font-weight: 700;
      font-size: 12px;
    }
  }

  .btn-prev {
    padding-right: 12px;
  }

  .btn-next {
    padding-left: 12px;
  }

  .el-pager li.disabled {
    color: $--color-text-placeholder;
    cursor: not-allowed;
  }

  @include m(small) {
    .btn-prev,
    .btn-next,
    .el-pager li,
    .el-pager li.btn-quicknext,
    .el-pager li.btn-quickprev,
    .el-pager li:last-child {
      min-width: 22px;
      height: 22px;
      font-size: 12px;
      line-height: 22px;
      border-color: transparent;
    }

    .arrow.disabled {
      visibility: hidden;
    }

    .more::before,
    li.more::before {
      line-height: 24px;
    }

    span:not([class*='suffix']),
    button {
      height: 22px;
      line-height: 22px;
    }

    @include e(editor) {
      height: 22px;

      &.el-input .el-input__inner {
        height: 22px;
      }
    }
  }

  @include e(sizes) {
    margin: 0 10px 0 0;
    font-weight: 400;
    color: $--color-text-regular;

    .el-input .el-input__inner {
      padding-left: 8px;
      font-size: $--pagination-font-size;

      &:hover {
        border-color: $--pagination-hover-color;
      }
    }
  }

  @include e(total) {
    margin-right: 10px;
    font-weight: 400;
    color: $--color-text-regular;
  }

  @include e(jump) {
    margin-left: 24px;
    font-weight: 400;
    color: $--color-text-regular;

    .el-input__inner {
      padding: 0 3px;
    }
  }

  @include e(rightwrapper) {
    float: right;
  }

  @include e(editor) {
    box-sizing: border-box;
    height: $--pagination-button-height;
    margin: 0 2px;
    padding: 0 2px;
    line-height: 18px;

    text-align: center;
    border-radius: $--pagination-border-radius;

    &.el-input {
      width: 50px;
    }

    &.el-input .el-input__inner {
      height: $--pagination-button-height;
    }

    .el-input__inner::-webkit-inner-spin-button,
    .el-input__inner::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  @include when(background) {
    .btn-prev,
    .btn-next,
    .el-pager li {
      min-width: 30px;
      margin: 0 5px;
      color: $--color-text-regular;
      background-color: $--color-info-lighter;
      border-radius: 2px;

      &.disabled {
        color: $--color-text-placeholder;
      }
    }

    .btn-prev,
    .btn-next {
      padding: 0;

      &:disabled {
        color: $--color-text-placeholder;
      }
    }

    .el-pager li:not(.disabled) {
      &:hover {
        color: $--pagination-hover-color;
      }

      &.active {
        color: $--color-white;
        background-color: $--color-primary;
      }
    }

    &.el-pagination--small {
      .btn-prev,
      .btn-next,
      .el-pager li {
        min-width: 22px;
        margin: 0 3px;
      }
    }
  }
}

@include b(pager) {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  vertical-align: top;
  user-select: none;

  .more::before {
    line-height: 30px;
  }

  li {
    display: inline-block;
    box-sizing: border-box;
    min-width: $--pagination-button-width;
    height: $--pagination-button-height;
    margin: 0;
    padding: 0 4px;
    font-size: $--pagination-font-size;
    line-height: $--pagination-button-height;
    vertical-align: top;
    text-align: center;
    background: $--pagination-background-color;
    cursor: pointer;

    &.btn-quicknext,
    &.btn-quickprev {
      line-height: 28px;
      color: $--pagination-button-color;

      &.disabled {
        color: $--color-text-placeholder;
      }
    }

    &.btn-quickprev:hover {
      cursor: pointer;
    }

    &.btn-quicknext:hover {
      cursor: pointer;
    }

    &.active + li {
      border-left: 0;
    }

    &:hover {
      color: $--pagination-hover-color;
    }

    &.active {
      color: $--pagination-hover-color;
      cursor: default;
    }
  }
}
