@import 'mixins/mixins';
@import 'common/var';
@import './popper';

@include b(popover) {
  position: absolute;
  z-index: $--index-popper;
  min-width: 150px;
  padding: $--popover-padding;
  font-size: $--popover-font-size;
  line-height: 1.4;
  text-align: justify;
  color: $--color-text-regular;
  word-break: break-all;
  background: $--popover-background-color;
  border: 1px solid $--popover-border-color;
  border-radius: 4px;
  box-shadow: $--box-shadow-light;

  @include m(plain) {
    padding: $--popover-padding-large;
  }

  @include e(title) {
    margin-bottom: 12px;
    font-size: $--popover-title-font-size;
    line-height: 1;
    color: $--popover-title-font-color;
  }

  @include e(reference) {
    &:focus:not(.focusing),
    &:focus:hover {
      outline-width: 0;
    }
  }

  &:focus:active,
  &:focus {
    outline-width: 0;
  }
}
