.q-range-selector {
  position: relative;
  width: 100%;

  &.is-vertical {
    width: auto;
    min-width: 0;
    height: 200px;
  }

  &__path {
    position: relative;
    width: 100%;
    height: 6px;
    margin: 16px 0;
    vertical-align: middle;
    background-color: #e4e7ed;
    border-radius: 3px;
    cursor: pointer;

    .is-vertical & {
      width: 6px;
      height: 100%;
    }
  }

  &__bar {
    position: absolute;
    z-index: 1;
    height: 6px;
    background-color: #409eff;
    border-radius: 3px;

    .is-vertical & {
      width: 6px;
      height: auto;
    }
  }

  &__button-wrapper {
    position: absolute;
    top: -15px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    line-height: normal;
    text-align: center;
    background-color: transparent;
    transform: translateX(-50%);
    user-select: none;

    .is-vertical & {
      top: auto;
      left: -15px;
      transform: translateY(50%);
    }

    &:hover,
    &:focus {
      z-index: 3;

      .q-range-selector__tooltip {
        z-index: 3;
        display: block;
      }
    }
  }

  &__button {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #409eff;
    border-radius: 50%;
    user-select: none;
  }

  &__tooltip {
    position: absolute;
    bottom: 100%;
    display: none;
    padding: 10px 5px;
    text-align: center;
    color: #fff;
    background-color: #111;
  }

  &__stop {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
    transform: translateX(-50%);
  }
}
