.q-slider-steps {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__item {
    position: absolute;
    top: 0;
    width: 4px;
    height: 8px;
    background-color: var(--color-tertiary-gray-light);
    box-shadow: 1px 0 1px rgba(174, 174, 192, 0.2),
      -1px 0 1px rgba(255, 255, 255, 0.7);
    transform: translateX(-50%);

    &:first-child,
    &:last-child {
      display: none;
    }
  }
}
