@import 'mixins/mixins';
@import 'common/var';
@import 'input';

@include b(input-number) {
  position: relative;
  display: inline-block;
  width: 180px;
  line-height: #{$--input-height - 2};

  .el-input {
    display: block;

    &__inner {
      padding-right: #{$--input-height + 10};
      padding-left: #{$--input-height + 10};
      text-align: center;
      appearance: none;
    }
  }

  @include e((increase, decrease)) {
    position: absolute;
    top: 1px;
    z-index: 1;
    width: $--input-height;
    height: auto;
    font-size: 13px;
    text-align: center;
    color: $--color-text-regular;
    background: $--background-color-base;
    cursor: pointer;

    &:hover {
      color: $--color-primary;

      &:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
        border-color: $--input-focus-border;
      }
    }

    &.is-disabled {
      color: $--disabled-color-base;
      cursor: not-allowed;
    }
  }

  @include e(increase) {
    right: 1px;
    border-left: $--border-base;
    border-radius: 0 $--border-radius-base $--border-radius-base 0;
  }

  @include e(decrease) {
    left: 1px;
    border-right: $--border-base;
    border-radius: $--border-radius-base 0 0 $--border-radius-base;
  }

  @include when(disabled) {
    @include e((increase, decrease)) {
      color: $--disabled-border-base;
      border-color: $--disabled-border-base;

      &:hover {
        color: $--disabled-border-base;
        cursor: not-allowed;
      }
    }
  }

  @include m(medium) {
    width: 200px;
    line-height: #{$--input-medium-height - 2};

    @include e((increase, decrease)) {
      width: $--input-medium-height;
      font-size: $--input-medium-font-size;
    }

    .el-input__inner {
      padding-right: #{$--input-medium-height + 7};
      padding-left: #{$--input-medium-height + 7};
    }
  }

  @include m(small) {
    width: 130px;
    line-height: #{$--input-small-height - 2};

    @include e((increase, decrease)) {
      width: $--input-small-height;
      font-size: $--input-small-font-size;

      [class*='el-icon'] {
        transform: scale(0.9);
      }
    }

    .el-input__inner {
      padding-right: #{$--input-small-height + 7};
      padding-left: #{$--input-small-height + 7};
    }
  }

  @include m(mini) {
    width: 130px;
    line-height: #{$--input-mini-height - 2};

    @include e((increase, decrease)) {
      width: $--input-mini-height;
      font-size: $--input-mini-font-size;

      [class*='el-icon'] {
        transform: scale(0.8);
      }
    }

    .el-input__inner {
      padding-right: #{$--input-mini-height + 7};
      padding-left: #{$--input-mini-height + 7};
    }
  }

  @include when(without-controls) {
    .el-input__inner {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @include when(controls-right) {
    .el-input__inner {
      padding-right: #{$--input-height + 10};
      padding-left: 15px;
    }

    @include e((increase, decrease)) {
      height: auto;
      line-height: #{($--input-height - 2) / 2};

      [class*='el-icon'] {
        transform: scale(0.8);
      }
    }

    @include e(increase) {
      border-bottom: $--border-base;
      border-radius: 0 $--border-radius-base 0 0;
    }

    @include e(decrease) {
      top: auto;
      right: 1px;
      bottom: 1px;
      left: auto;
      border-right: none;
      border-left: $--border-base;
      border-radius: 0 0 $--border-radius-base 0;
    }

    &[class*='medium'] {
      [class*='increase'],
      [class*='decrease'] {
        line-height: #{($--input-medium-height - 2) / 2};
      }
    }

    &[class*='small'] {
      [class*='increase'],
      [class*='decrease'] {
        line-height: #{($--input-small-height - 2) / 2};
      }
    }

    &[class*='mini'] {
      [class*='increase'],
      [class*='decrease'] {
        line-height: #{($--input-mini-height - 2) / 2};
      }
    }
  }
}
