.q-select-dropdown {
  --dropdown-max-height: 204px;

  --dropdown-box-shadow-base: var(--box-shadow-primary);
  --dropdown-background-color-base: var(--color-tertiary-gray-light);

  --dropdown-item-background-color-base: var(--color-tertiary-gray-light);
  --dropdown-item-background-color-hover: var(--color-tertiary-gray);
  --dropdown-item-background-color-selected: var(
    --color-tertiary-gray-ultra-light
  );
  --dropdown-item-background-color-disabled: var(--color-tertiary-gray-light);

  --dropdown-item-color-base: var(--color-primary-blue);
  --dropdown-item-color-hover: var(--color-primary-black);
  --dropdown-item-color-selected: var(--color-primary-black);
  --dropdown-item-color-disabled: rgba(var(--color-rgb-gray), 0.64);

  --dropdown-item-mark-color-base: var(--color-primary-blue);
  --dropdown-item-mark-color-disabled: rgba(var(--color-rgb-gray), 0.64);

  --checkbox-background-color-base: var(--color-tertiary-gray-ultra-light);
  --checkbox-background-color-disabled: var(--color-tertiary-gray);

  --checkbox-box-shadow-base: -1px -1px 3px rgba(var(--color-rgb-white), 0.25),
    1px 1px 3px rgba(var(--color-rgb-blue), 0.4),
    inset -1px -1px 1px rgba(var(--color-rgb-white), 0.7),
    inset 1px 1px 2px rgba(var(--color-rgb-blue), 0.2);

  position: absolute;
  z-index: 1001;
  box-sizing: border-box;
  margin-top: 8px;
  overflow: hidden;
  background-color: var(--dropdown-item-background-color-base);
  border-radius: var(--border-radius-base);
  box-shadow: var(--dropdown-box-shadow-base);

  &__item {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px 8px;
    overflow: hidden;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    text-align: left;
    color: var(--dropdown-item-color-base);
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--dropdown-item-background-color-base);
    box-shadow: -1px -1px 3px rgba(var(--color-rgb-white), 0.25),
      1px 1px 3px rgba(var(--color-rgb-blue), 0.4);
    cursor: pointer;

    &:not(:first-child) {
      margin-top: 1px;
    }

    &_selected {
      color: var(--dropdown-item-color-selected);
      background-color: var(--dropdown-item-background-color-selected);
    }

    &_hover,
    &:hover {
      color: var(--dropdown-item-color-hover);
      background-color: var(--dropdown-item-background-color-hover);
    }

    .q-select-dropdown_multiple & {
      padding-left: 40px;

      &::after {
        content: '\e909';
        position: absolute;
        top: 8px;
        left: 8px;
        width: 24px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'qicon';
        text-align: center;
        color: #fff0;
        background-color: var(--checkbox-background-color-base);
        border-radius: var(--border-radius-base);
        box-shadow: var(--checkbox-box-shadow-base);
      }

      &_selected {
        &::after {
          color: var(--dropdown-item-mark-color-base);
        }

        &_disabled::after {
          color: var(--dropdown-item-mark-color-disabled);
        }
      }

      &_disabled::after {
        background-color: var(--checkbox-background-color-disabled);
      }

      & > span {
        display: block;
      }
    }

    &_disabled {
      padding-right: 40px;
      color: var(--dropdown-item-color-disabled);
      background-color: var(--dropdown-item-background-color-disabled);
      cursor: not-allowed;

      &::before {
        content: '\e912';
        position: absolute;
        top: 0;
        right: 8px;
        font-size: 24px;
        line-height: 40px;
        font-family: 'qicon';
        cursor: not-allowed;
      }
    }
  }

  &__empty {
    margin: 0;
    padding: 10px 16px 8px;
    color: rgba(var(--color-rgb-gray), 0.64);
  }

  &__wrap {
    max-height: var(--dropdown-max-height);
  }

  &__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
