body {
  background-color: #f4f4f6;
}

.el-row {
  margin-bottom: 20px;
}

.sb-show-main {
  background-color: #f4f4f6;
}

.demo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  padding: 0;
}

.block {
  flex: 1;
  padding: 10px 0;
  text-align: center;
}

.demonstration {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #8492a6;
}
