body {
  background-color: #f4f4f6;
}

.el-row {
  margin-bottom: 20px;
}

.sb-show-main {
  background-color: #f4f4f6;
}

.demo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  padding: 0;
}

.block {
  flex: 1;
  padding: 10px 0;
  text-align: center;
}

.demonstration {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #8492a6;
}

.demo-wrapper {
  width: 768px;
  padding-top: 24px;
  padding-bottom: 24px;

  &__block {
    margin-bottom: 48px;
    padding-bottom: 18px;
    border-bottom: 1px solid #777;

    &:last-child {
      border-bottom: none;
    }
  }

  &__title {
    margin-bottom: 24px;
    padding-bottom: 4px;
    text-align: left;
    border-bottom: 1px solid #888;
  }

  &__sub-title {
    margin-bottom: 4px;
  }

  &__code {
    margin: 0;
    padding: 12px;
    color: #fff;
    background-color: #383d42;
  }

  &__result {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #fff;

    &_center {
      justify-content: center;
    }

    &_right {
      justify-content: flex-end;
    }

    &_around {
      justify-content: space-around;
    }
  }

  /deep/ .el-collapse-item {
    &__header {
      height: auto;
      padding: 6px 12px;
      line-height: 16px;

      &.is-active {
        border-bottom-color: #ebeef5;
      }
    }

    &__content {
      padding-bottom: 0;
    }
  }
}
