@charset "UTF-8";

@import 'common/var';
@import 'mixins/button';
@import 'mixins/mixins';
@import 'mixins/utils';

@include b(button) {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  font-weight: $--button-font-weight;
  line-height: 1;
  text-align: center;
  color: $--button-default-color;
  white-space: nowrap;
  background-color: $--button-default-fill;
  border: $--border-base;
  border-color: $--button-default-border;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
  appearance: none;
  @include utils-user-select(none);

  & + & {
    margin-left: 10px;
  }

  @include button-size(
    $--button-padding-vertical,
    $--button-padding-horizontal,
    $--button-font-size,
    $--button-border-radius
  );

  &:hover,
  &:focus,
  &:active {
    color: $--color-white;
    background-color: $--color-primary;
    border-color: $--color-primary;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*='el-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(plain) {
    &:hover,
    &:focus {
      color: $--color-primary;
      background-color: $--color-white;
      border-color: $--color-primary;
    }

    &:active {
      color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      background-color: $--color-white;
      border-color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      outline: none;
    }
  }

  @include when(active) {
    color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
    border-color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--button-disabled-color;
      background-color: $--button-disabled-fill;
      background-image: none;
      border-color: #92cbaf;
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        color: $--button-disabled-color;
        background-color: $--color-white;
        border-color: $--border-color-base;
      }
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    .el-icon-loading {
      position: absolute;
      left: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background-color: rgba(255, 255, 255, 0.35);
      border-radius: inherit;
      pointer-events: none;
    }
  }
  @include when(round) {
    padding: 12px 23px;
    border-radius: 20px;
  }
  @include when(circle) {
    padding: $--button-padding-vertical;
    border-radius: 50%;
  }
  @include m(primary) {
    @include button-variant(
      $--button-primary-color,
      $--button-primary-fill,
      $--button-primary-border
    );
  }
  @include m(success) {
    @include button-variant(
      $--button-success-color,
      $--button-success-fill,
      $--button-success-border
    );
  }
  @include m(warning) {
    @include button-variant(
      $--button-warning-color,
      $--button-warning-fill,
      $--button-warning-border
    );
  }
  @include m(danger) {
    @include button-variant(
      $--button-danger-color,
      $--button-danger-fill,
      $--button-danger-border
    );
  }
  @include m(info) {
    @include button-variant(
      $--button-info-color,
      $--button-info-fill,
      $--button-info-border
    );
  }
  @include m(medium) {
    width: 176px; // custom
    @include button-size(
      $--button-medium-padding-vertical,
      $--button-medium-padding-horizontal,
      $--button-medium-font-size,
      $--button-medium-border-radius
    );
    @include when(circle) {
      padding: $--button-medium-padding-vertical;
    }
  }
  @include m(small) {
    @include button-size(
      $--button-small-padding-vertical,
      $--button-small-padding-horizontal,
      $--button-small-font-size,
      $--button-small-border-radius
    );
    @include when(circle) {
      padding: $--button-small-padding-vertical;
    }
    @include when(loading) {
      .el-icon-loading {
        top: 8px; // custom
      }
    }
  }
  @include m(mini) {
    @include button-size(
      $--button-mini-padding-vertical,
      $--button-mini-padding-horizontal,
      $--button-mini-font-size,
      $--button-mini-border-radius
    );
    @include when(circle) {
      padding: $--button-mini-padding-vertical;
    }
  }
  @include m(text) {
    padding-right: 0;
    padding-left: 0;
    color: $--color-primary;
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus {
      color: mix(
        $--color-white,
        $--color-primary,
        $--button-hover-tint-percent
      );
      background-color: transparent;
      border-color: transparent;
    }

    &:active {
      color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      background-color: transparent;
      border-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }
  // custom
  @include m(second) {
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: $--color-primary;
      background-color: transparent;
      border-color: $--color-primary;
    }
  }
  @include m(lg) {
    width: 272px;
  }
  @include m(full-width) {
    width: 100%;
  }
  @include m(xs) {
    width: 70px;
  }

  @include m(kitty) {
    display: flex;
    justify-content: center;
    min-width: 176px;
    height: 24px;
    padding: 0 34px;
    background-color: $--color-white;

    & > [class^='el-icon-'] {
      line-height: 0;

      & + span {
        margin-left: 0;
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: $--color-white;
      background-color: var(--color-greenish);
      border-color: var(--color-greenish);
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      color: var(--color-dark-gray);
      border: solid 1px var(--color-dark-gray);
      opacity: 1;
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & > .el-button {
    position: relative;
    float: left;

    & + .el-button {
      margin-left: 0;
    }

    &.is-disabled {
      z-index: 1;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:first-child:last-child {
      border-top-left-radius: $--button-border-radius;
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;

      &.is-round {
        border-radius: 20px;
      }

      &.is-circle {
        border-radius: 50%;
      }
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }

  & > .el-dropdown {
    & > .el-button {
      border-left-color: rgba($--color-white, 0.5);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }

      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }

      &:not(:first-child):not(:last-child) {
        border-right-color: rgba($--color-white, 0.5);
        border-left-color: rgba($--color-white, 0.5);
      }
    }
  }
}
