@import 'mixins/mixins';
@import 'progress';
@import 'common/var';

@include b(upload) {
  display: inline-block;
  text-align: center;
  outline: none;
  cursor: pointer;
  @include e(input) {
    display: none;
  }

  @include e(tip) {
    margin-top: 7px;
    font-size: 12px;
    color: $--color-text-regular;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* 照片墙模式 */
  @include m(picture-card) {
    box-sizing: border-box;
    width: 148px;
    height: 148px;
    line-height: 146px;
    vertical-align: top;
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    cursor: pointer;

    i {
      font-size: 28px;
      color: #8c939d;
    }

    &:hover {
      color: $--color-primary;
      border-color: $--color-primary;
    }
  }

  &:focus {
    color: $--color-primary;
    border-color: $--color-primary;

    .el-upload-dragger {
      border-color: $--color-primary;
    }
  }
}

@include b(upload-dragger) {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  height: 180px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;

  .el-icon-upload {
    margin: 40px 0 16px;
    font-size: 67px;
    line-height: 50px;
    color: $--color-text-placeholder;
  }

  + .el-upload__tip {
    text-align: center;
  }

  ~ .el-upload__files {
    margin-top: 7px;
    padding-top: 5px;
    border-top: $--border-base;
  }

  .el-upload__text {
    font-size: 14px;
    text-align: center;
    color: $--color-text-regular;

    em {
      font-style: normal;
      color: $--color-primary;
    }
  }

  &:hover {
    border-color: $--color-primary;
  }

  @include when(dragover) {
    background-color: rgba(32, 159, 255, 0.06);
    border: 2px dashed $--color-primary;
  }
}

@include b(upload-list) {
  margin: 0;
  padding: 0;
  list-style: none;

  @include e(item) {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.8;
    color: $--color-text-regular;
    border-radius: 4px;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);

    .el-progress {
      position: absolute;
      top: 20px;
      width: 100%;
    }

    .el-progress__text {
      position: absolute;
      top: -13px;
      right: 0;
    }

    .el-progress-bar {
      margin-right: 0;
      padding-right: 0;
    }

    &:first-child {
      margin-top: 10px;
    }

    & .el-icon-upload-success {
      color: $--color-success;
    }

    .el-icon-close {
      position: absolute;
      top: 5px;
      right: 5px;
      display: none;
      color: $--color-text-regular;
      cursor: pointer;
      opacity: 0.75;
      //transform: scale(.7);

      &:hover {
        opacity: 1;
      }
    }

    & .el-icon-close-tip {
      position: absolute;
      top: 5px;
      right: 5px;
      display: none;
      font-size: 12px;
      color: $--color-primary;
      cursor: pointer;
      opacity: 1;
    }

    &:hover {
      background-color: $--background-color-base;

      .el-icon-close {
        display: inline-block;
      }

      .el-progress__text {
        display: none;
      }
    }

    @include when(success) {
      .el-upload-list__item-status-label {
        display: block;
      }

      .el-upload-list__item-name:hover,
      .el-upload-list__item-name:focus {
        color: $--link-hover-color;
        cursor: pointer;
      }

      &:focus:not(:hover) {
        /* 键盘focus */
        .el-icon-close-tip {
          display: inline-block;
        }
      }

      &:not(.focusing):focus,
      &:active {
        /* click时 */
        outline-width: 0;

        .el-icon-close-tip {
          display: none;
        }
      }

      &:hover,
      &:focus {
        .el-upload-list__item-status-label {
          display: none;
        }
      }
    }
  }

  @include when(disabled) {
    .el-upload-list__item:hover .el-upload-list__item-status-label {
      display: block;
    }
  }

  @include e(item-name) {
    display: block;
    margin-right: 40px;
    padding-left: 4px;
    overflow: hidden;
    color: $--color-text-regular;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.3s;

    [class^='el-icon'] {
      height: 100%;
      margin-right: 7px;
      line-height: inherit;
      color: $--color-text-secondary;
    }
  }

  @include e(item-status-label) {
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
    line-height: inherit;
  }

  @include e(item-delete) {
    position: absolute;
    top: 0;
    right: 10px;
    display: none;
    font-size: 12px;
    color: $--color-text-regular;

    &:hover {
      color: $--color-primary;
    }
  }

  @include m(picture-card) {
    display: inline;
    margin: 0;
    vertical-align: top;

    .el-upload-list__item {
      display: inline-block;
      box-sizing: border-box;
      width: 148px;
      height: 148px;
      margin: 0 8px 8px 0;
      overflow: hidden;
      background-color: #fff;
      border: 1px solid #c0ccda;
      border-radius: 6px;

      .el-icon-check,
      .el-icon-circle-check {
        color: $--color-white;
      }

      .el-icon-close {
        display: none;
      }

      &:hover {
        .el-upload-list__item-status-label {
          display: none;
        }

        .el-progress__text {
          display: block;
        }
      }
    }

    .el-upload-list__item-name {
      display: none;
    }

    .el-upload-list__item-thumbnail {
      width: 100%;
      height: 100%;
    }

    .el-upload-list__item-status-label {
      position: absolute;
      top: -6px;
      right: -15px;
      width: 40px;
      height: 24px;
      text-align: center;
      background: #13ce66;
      box-shadow: 0 0 1pc 1px rgba(0, 0, 0, 0.2);
      transform: rotate(45deg);

      i {
        margin-top: 11px;
        font-size: 12px;
        transform: rotate(-45deg);
      }
    }

    .el-upload-list__item-actions {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 20px;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: default;
      opacity: 0;
      transition: opacity 0.3s;

      &::after {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      span {
        display: none;
        cursor: pointer;
      }

      span + span {
        margin-left: 15px;
      }

      .el-upload-list__item-delete {
        position: static;
        font-size: inherit;
        color: inherit;
      }

      &:hover {
        opacity: 1;

        span {
          display: inline-block;
        }
      }
    }

    .el-progress {
      top: 50%;
      bottom: auto;
      left: 50%;
      width: 126px;
      transform: translate(-50%, -50%);

      .el-progress__text {
        top: 50%;
      }
    }
  }

  @include m(picture) {
    .el-upload-list__item {
      z-index: 0;
      box-sizing: border-box;
      height: 92px;
      margin-top: 10px;
      padding: 10px 10px 10px 90px;
      overflow: hidden;
      background-color: #fff;
      border: 1px solid #c0ccda;
      border-radius: 6px;

      .el-icon-check,
      .el-icon-circle-check {
        color: $--color-white;
      }

      &:hover {
        .el-upload-list__item-status-label {
          top: -2px;
          right: -12px;
          background: transparent;
          box-shadow: none;
        }

        .el-progress__text {
          display: block;
        }
      }

      &.is-success {
        .el-upload-list__item-name {
          margin-top: 0;
          line-height: 70px;

          i {
            display: none;
          }
        }
      }
    }

    .el-upload-list__item-thumbnail {
      position: relative;
      z-index: 1;
      display: inline-block;
      float: left;
      width: 70px;
      height: 70px;
      margin-left: -80px;
      vertical-align: middle;
    }

    .el-upload-list__item-name {
      display: block;
      margin-top: 20px;

      i {
        position: absolute;
        top: 10px;
        left: 9px;
        font-size: 70px;
        line-height: 1;
      }
    }

    .el-upload-list__item-status-label {
      position: absolute;
      top: -7px;
      right: -17px;
      width: 46px;
      height: 26px;
      text-align: center;
      background: #13ce66;
      box-shadow: 0 1px 1px #ccc;
      transform: rotate(45deg);

      i {
        margin-top: 12px;
        font-size: 12px;
        transform: rotate(-45deg);
      }
    }

    .el-progress {
      position: relative;
      top: -7px;
    }
  }
}

@include b(upload-cover) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  @include utils-vertical-center;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include e(label) {
    position: absolute;
    top: -6px;
    right: -15px;
    width: 40px;
    height: 24px;
    text-align: center;
    background: #13ce66;
    box-shadow: 0 0 1pc 1px rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);

    i {
      margin-top: 11px;
      font-size: 12px;
      color: #fff;
      transform: rotate(-45deg);
    }
  }

  @include e(progress) {
    position: static;
    display: inline-block;
    width: 243px;
    vertical-align: middle;

    + .el-upload__inner {
      opacity: 0;
    }
  }

  @include e(content) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include e(interact) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(var(--color-black), 0.72);

    .btn {
      display: inline-block;
      margin-top: 60px;
      font-size: 14px;
      vertical-align: middle;
      color: $--color-white;
      cursor: pointer;
      transition: $--md-fade-transition;

      i {
        margin-top: 0;
      }

      span {
        opacity: 0;
        transition: opacity 0.15s linear;
      }

      &:not(:first-child) {
        margin-left: 35px;
      }

      &:hover {
        transform: translateY(-13px);

        span {
          opacity: 1;
        }
      }

      i {
        display: block;
        margin: 0 auto 5px;
        font-size: 24px;
        line-height: inherit;
        color: $--color-white;
      }
    }
  }

  @include e(title) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: $--color-text-primary;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: $--color-white;
  }

  + .el-upload__inner {
    position: relative;
    z-index: 1;
    opacity: 0;
  }
}
