@import '../common/var';

@include b(date-range-picker) {
  width: 420px;

  &.has-sidebar {
    width: 534px;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  .el-picker-panel__body {
    width: 420px;
  }

  .el-picker-panel__content {
    margin: 0;
  }

  @include e(header) {
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px 0;
    text-align: center;

    .is-right & {
      justify-content: flex-end;
    }

    .el-icon-d-arrow-right,
    .el-icon-arrow-right {
      order: 2;
    }

    div {
      order: 1;
      width: 100%;
      font-size: 10px;
      vertical-align: middle;
      color: var(--color-primary-black);
      white-space: nowrap;
    }
  }

  @include e(content) {
    float: left;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 16px;

    @include when(left) {
      border-right: 1px solid $--datepicker-inner-border-color;
    }
  }

  @include e(editors-wrap) {
    display: table-cell;
    box-sizing: border-box;

    @include when(right) {
      text-align: right;
    }
  }

  @include e(time-header) {
    position: relative;
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 5px 5px 5px;
    font-size: 12px;
    border-bottom: 1px solid $--datepicker-inner-border-color;

    > .el-icon-arrow-right {
      display: table-cell;
      font-size: 20px;
      vertical-align: middle;
      color: $--datepicker-icon-color;
    }
  }

  @include e(time-picker-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;

    .el-picker-panel {
      position: absolute;
      top: 13px;
      right: 0;
      z-index: 1;
      background: $--color-white;
    }
  }
}
