@import '../common/var';
@import '../mixins/mixins';
@import './picker-panel.scss';

@include b(date-picker) {
  width: 220px;

  &.has-sidebar.has-time {
    width: 434px;
  }

  &.has-sidebar {
    width: 328px;
  }

  &.has-time .el-picker-panel__body-wrapper {
    position: relative;
  }

  .el-picker-panel__content {
    width: 100%;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  @include e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include e(time-header) {
    position: relative;
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 5px 5px 5px;
    font-size: 12px;
    border-bottom: 1px solid $--datepicker-inner-border-color;
  }

  @include e(header) {
    padding: 14px 8px;
    text-align: center;

    @include m(bordered) {
      margin-bottom: 0;
      padding-bottom: 12px;
      border-bottom: solid 1px $--border-color-lighter;

      & + .el-picker-panel__content {
        margin-top: 0;
      }
    }
  }

  @include e(header-label) {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: var(--color-primary-black);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $--datepicker-hover-font-color;
    }

    &.active {
      color: $--datepicker-active-color;
    }
  }

  @include e(prev-btn) {
    float: left;
    margin-right: 4px;
  }

  @include e(next-btn) {
    float: right;
    margin-left: 4px;
  }

  @include e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  @include e(time-label) {
    float: left;
    margin-left: 10px;
    line-height: 30px;
    cursor: pointer;
  }
}
