@import '../common/var';
@import '../mixins/mixins';

@include b(date-table) {
  font-size: 10px;
  user-select: none;

  @include when(week-mode) {
    .el-date-table__row {
      &:hover {
        div {
          color: var(--color-primary-black);
          background-color: var(--color-tertiary-gray);
        }
      }

      &.current div {
        color: #fff;
        background-color: var(--color-primary-blue);
        box-shadow: var(--box-shadow-primary);
      }
    }
  }

  td {
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    padding-bottom: 8px;
    text-align: center;
    cursor: pointer;

    & div {
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      padding: 0;
      background-color: var(--color-tertiary-gray-light);
      border-radius: var(--border-radius-base);
      box-shadow: var(--box-shadow-pressed);
    }

    & span {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 auto;
      line-height: 20px;
    }

    &.next-month,
    &.prev-month {
      color: rgba(var(--color-rgb-gray), 0.32);
    }

    &.today {
      position: relative;

      div {
        border-radius: var(--border-radius-base);
        box-shadow: var(--box-shadow-pressed);
      }

      span {
        color: var(--color-primary);
      }

      &.start-date span,
      &.end-date span {
        color: #fff;
        box-shadow: var(--box-shadow-primary);
      }
    }

    &.available div:hover {
      color: var(--color-primary-black);
      background-color: var(--color-tertiary-gray);
    }

    &.current div,
    &.start-date div,
    &.end-date div,
    &.in-range div {
      color: #fff;
      background-color: var(--color-primary-blue);
      box-shadow: var(--box-shadow-primary);
    }

    &.disabled div {
      color: $--color-text-placeholder;
      background-color: $--background-color-base;
      cursor: not-allowed;
      opacity: 1;
    }

    &.selected div {
      color: #fff;
      background-color: var(--color-primary-blue);
      box-shadow: var(--box-shadow-primary);
    }

    &.week {
      font-size: 80%;
      color: $--datepicker-header-font-color;
    }
  }

  th {
    padding-bottom: 4px;
    font-weight: 400;
    color: rgba(var(--color-rgb-gray), 0.64);
    border-bottom: solid 1px $--border-color-lighter;
  }
}
