@import '../common/var';

@include b(month-table) {
  margin: -1px;
  border-collapse: collapse;
  font-size: 12px;

  td {
    padding-bottom: 16px;
    text-align: center;
    cursor: pointer;

    & div {
      box-sizing: border-box;
      height: 40px;
    }

    &.today {
      .cell {
        color: var(--color-primary);
      }

      &.start-date .cell,
      &.end-date .cell {
        color: $--color-white;
      }
    }

    &.disabled .cell {
      color: $--color-text-placeholder;
      background-color: $--background-color-base;
      cursor: not-allowed;

      &:hover {
        color: $--color-text-placeholder;
      }
    }

    .cell {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      line-height: 40px;
      color: var(--color-primary-blue);
      border-radius: var(--border-radius-base);
      box-shadow: var(--box-shadow-primary);

      &:hover {
        color: var(--color-primary-black);
        background-color: var(--color-tertiary-gray);
      }
    }

    &.in-range .cell {
      color: #fff;
      background-color: var(--color-primary-blue);
      box-shadow: var(--box-shadow-pressed);

      &:hover {
        color: var(--color-primary-black);
        background-color: var(--color-tertiary-gray);
      }
    }

    &.start-date div,
    &.end-date div {
      color: $--color-white;
    }

    &.start-date .cell,
    &.end-date .cell {
      color: #fff;
      background-color: var(--color-primary-blue);
      box-shadow: var(--box-shadow-pressed);
    }

    &.current:not(.disabled) .cell {
      color: #fff;
      background-color: var(--color-primary-blue);
      box-shadow: var(--box-shadow-pressed);
    }
  }
}
