@import '../common/var';

@include b(picker-panel) {
  margin: 5px 0;
  color: var(--color-primary-blue);
  background: var(--color-tertiary-gray-light);
  border-radius: $--border-radius-base;
  box-shadow: var(--box-shadow-primary);

  &.el-popper .popper__arrow {
    display: none;
  }

  @include e((body, body-wrapper)) {
    &::after {
      content: '';
      display: table;
      clear: both;
    }

    width: 220px;
  }

  @include e(content) {
    position: relative;
    box-sizing: border-box;
    padding: 0 8px 8px;
  }

  @include e(footer) {
    position: relative;
    padding: 0 8px 8px;
    font-size: 0;
    text-align: center;
  }

  @include e(shortcut) {
    display: block;
    width: 100%;
    padding-bottom: 8px;
    font-size: 10px;
    line-height: 12px;
    text-align: left;
    color: rgba(var(--color-rgb-gray), 0.64);
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
      color: $--datepicker-hover-font-color;
    }

    &.active {
      color: $--datepicker-active-color;
      background-color: #e6f1fe;
    }
  }

  @include e(btn) {
    padding: 0 20px;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    background-color: transparent;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    outline: none;
    cursor: pointer;

    &[disabled] {
      color: #ccc;
      cursor: not-allowed;
    }
  }

  @include e(icon-btn) {
    width: 20px;
    min-width: 20px;
    height: 20px;
    padding: 0;
    font-size: 20px;
    font-family: 'qicon' !important;
    color: var(--color-primary-blue);
    background: var(--color-tertiary-gray-light);
    border: 0;
    border-radius: 20px;
    outline: none;
    box-shadow: var(--box-shadow-primary);
    cursor: pointer;

    .is-left & {
      margin-right: 4px;
    }

    .is-right & {
      margin-left: 4px;
    }

    &:hover {
      color: $--datepicker-hover-font-color;
    }

    &.el-icon-d-arrow-left::before {
      content: '\e92a';
    }

    &.el-icon-arrow-left::before {
      content: '\e92c';
    }

    &.el-icon-d-arrow-right::before {
      content: '\e92b';
    }

    &.el-icon-arrow-right::before {
      content: '\e927';
    }

    @include when(disabled) {
      color: $--font-color-disabled-base;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  @include e(link-btn) {
    vertical-align: middle;
  }
}

.el-picker-panel *[slot='sidebar'],
.el-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 114px;
  padding: 16px 8px;
  overflow: auto;
  border-right: 1px solid $--datepicker-inner-border-color;
}

.el-picker-panel *[slot='sidebar'] + .el-picker-panel__body,
.el-picker-panel__sidebar + .el-picker-panel__body {
  margin-left: 110px;
}
