@import '../mixins/mixins';
@import '../common/var';
@import '../common/transition';

@include b(date-editor) {
  position: relative;
  display: inline-block;
  text-align: left;

  &.el-input,
  &.el-input__inner {
    width: 100%;
  }

  .el-input__prefix {
    display: none;
  }

  .el-input__suffix {
    .el-icon-circle-close::before {
      content: '\e90b';
    }

    .el-input__icon::before {
      content: '\e908';
      font-style: normal;
      font-family: 'qicon';
    }
  }

  @include m(dates) {
    .el-input__inner {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .el-icon-circle-close {
    cursor: pointer;
  }

  .el-range__icon {
    float: left;
    margin-left: -5px;
    font-size: 14px;
    line-height: 32px;
    color: $--color-text-placeholder;
  }

  .el-range-input {
    display: inline-block;
    width: 42%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: var(--font-weight-base);
    font-size: inherit;
    line-height: 40px;
    color: var(--color-primary-black);
    border: none;
    outline: none;
    appearance: none;

    &::placeholder {
      color: rgba(var(--color-rgb-gray), 0.32);
      opacity: 1;
    }
  }

  .el-range-separator {
    display: inline-block;
    width: 5%;
    height: 100%;
    margin: 0;
    padding: 0 2px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: $--color-text-primary;
  }
}

@include b(range-editor) {
  &.el-input__inner {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;

    background-color: var(--color-tertiary-gray-light);
    border: none;
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-primary);

    &:hover {
      background-color: var(--color-tertiary-gray);
      box-shadow: var(--box-shadow-hover);
    }

    &.is-active:not(.is-disabled) {
      background-color: var(--color-tertiary-gray-ultra-light);
      outline: none;
      box-shadow: var(--box-shadow-focus);
    }
  }

  .el-range-input {
    line-height: 1;
    text-align: center;
    background: none;
  }

  .el-range__close-icon {
    position: absolute;
    right: 0;
    width: 40px;
    font-style: normal;
    cursor: pointer;

    &.el-icon-circle-close {
      color: var(--color-primary-blue);

      &:hover {
        color: var(--color-primary-black);
      }
    }

    &:not(.el-icon-circle-close)::before {
      content: '\e908';
      font-family: 'qicon';
    }
  }

  @include when(active) {
    border-color: $--color-primary;

    &:hover {
      border-color: $--color-primary;
    }
  }

  @include m(medium) {
    &.el-input__inner {
      height: $--input-medium-height;
    }

    .el-range-separator {
      font-size: $--input-medium-font-size;
      line-height: 28px;
    }

    .el-range-input {
      font-size: $--input-medium-font-size;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 28px;
    }
  }

  @include m(small) {
    &.el-input__inner {
      height: $--input-small-height;
    }

    .el-range-separator {
      font-size: $--input-small-font-size;
      line-height: 24px;
    }

    .el-range-input {
      font-size: $--input-small-font-size;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 24px;
    }
  }

  @include m(mini) {
    &.el-input__inner {
      height: $--input-mini-height;
    }

    .el-range-separator {
      font-size: $--input-mini-font-size;
      line-height: 20px;
    }

    .el-range-input {
      font-size: $--input-mini-font-size;
    }

    .el-range__icon,
    .el-range__close-icon {
      line-height: 20px;
    }
  }

  @include when(disabled) {
    color: rgba(var(--color-rgb-gray), 0.64);
    background-color: var(--color-tertiary-gray);
    cursor: not-allowed;

    input {
      font-weight: var(--font-weight-base);
      background-color: var(--color-tertiary-gray);
      cursor: not-allowed;

      &::placeholder {
        color: rgba(var(--color-rgb-gray), 0.32);
      }
    }

    .el-range__close-icon {
      cursor: not-allowed;
    }

    .el-range-separator,
    .el-range-input {
      color: rgba(var(--color-rgb-gray), 0.64);
    }
  }
}
