@import '../common/var';

@include b(year-table) {
  margin: -1px;
  border-collapse: collapse;
  font-size: 12px;

  .el-icon {
    color: $--datepicker-icon-color;
  }

  td {
    padding-bottom: 16px;
    text-align: center;
    cursor: pointer;

    &.today {
      .cell {
        color: var(--color-primary);
      }
    }

    &.disabled .cell {
      color: $--color-text-placeholder;
      background-color: $--background-color-base;
      cursor: not-allowed;

      &:hover {
        color: $--color-text-placeholder;
      }
    }

    .cell {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      line-height: 40px;
      color: var(--color-primary-blue);
      border-radius: var(--border-radius-base);
      box-shadow: var(--box-shadow-primary);

      &:hover {
        color: var(--color-primary-black);
        background-color: var(--color-tertiary-gray);
      }
    }

    &.current:not(.disabled) .cell {
      color: #fff;
      background-color: var(--color-primary-blue);
      box-shadow: var(--box-shadow-pressed);
    }
  }
}
