@import 'mixins/mixins';
@import 'common/var';

@include b(notification) {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  margin: 0 0 5px;
  padding: $--notification-padding;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
  color: #485d74;
  background-color: #fff;
  border-radius: $--notification-radius;
  box-shadow: $--notification-shadow;
  transition: opacity 0.3s, transform 0.3s, left 0.3s, right 0.3s, top 0.4s,
    bottom 0.3s;

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @include e(group) {
    width: 440px;
    margin-left: $--notification-group-margin;
    padding: 18px 45px 18px 22px;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    border-left: 5px solid transparent;
  }

  @include e(title) {
    margin: 0;
    font-weight: 700;
    font-size: $--notification-title-font-size;
    color: inherit;
  }

  @include e(content) {
    font-size: $--notification-font-size;
    line-height: 24px;
    text-align: left;
    color: inherit;

    p {
      margin: 0;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  @include e(icon) {
    display: none;
  }

  @include e(closeBtn) {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: $--notification-close-font-size;
    color: var(--color-dark-gray);
    cursor: pointer;
  }

  .el-icon-success {
    & + .el-notification__group {
      border-left-color: #86c981;
    }
  }

  .el-icon-error {
    & + .el-notification__group {
      border-left-color: #ea5970;
    }
  }

  .el-icon-info {
    & + .el-notification__group {
      border-left-color: #2e87ec;
    }
  }

  .el-icon-warning {
    & + .el-notification__group {
      border-left-color: #fdc122;
    }
  }
}

.el-notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.el-notification-fade-leave-active {
  opacity: 0;
}
