@import 'mixins/mixins';
@import 'mixins/_button';
@import 'common/var';

@include b(radio-button) {
  position: relative;
  display: inline-block;
  outline: none;

  @include e(inner) {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    font-weight: $--button-font-weight;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
    color: $--button-default-color;
    white-space: nowrap;
    background: $--button-default-fill;
    border: $--border-base;
    border-left: 0;
    outline: none;
    cursor: pointer;
    transition: $--all-transition;
    appearance: none;
    border-color: var(--color-medium-gray);

    @include button-size(
      $--button-padding-vertical,
      $--button-padding-horizontal,
      $--button-font-size,
      0
    );

    &:hover {
      color: $--color-primary;
    }

    & [class*='el-icon-'] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &:first-child {
    .el-radio-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }

  @include e(orig-radio) {
    position: absolute;
    z-index: -1;
    outline: none;
    opacity: 0;

    &:checked {
      & + .el-radio-button__inner {
        color: $--radio-button-checked-color;
        background-color: $--radio-button-checked-fill;
        border-color: $--radio-button-checked-border-color;
        box-shadow: -1px 0 0 0 $--radio-button-checked-border-color;
      }
    }

    &:disabled {
      & + .el-radio-button__inner {
        color: $--button-disabled-color;
        background-color: $--button-disabled-fill;
        background-image: none;
        border-color: $--border-color-base;
        box-shadow: none;
        cursor: not-allowed;
      }

      &:checked + .el-radio-button__inner {
        background-color: $--radio-button-disabled-checked-fill;
      }
    }
  }

  &:last-child {
    .el-radio-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  &:first-child:last-child {
    .el-radio-button__inner {
      border-radius: $--border-radius-base;
    }
  }

  @include m(medium) {
    & .el-radio-button__inner {
      @include button-size(
        $--button-medium-padding-vertical,
        $--button-medium-padding-horizontal,
        $--button-medium-font-size,
        0
      );
    }
  }
  @include m(small) {
    & .el-radio-button__inner {
      @include button-size(
        $--button-small-padding-vertical,
        $--button-small-padding-horizontal,
        $--button-small-font-size,
        0
      );
    }
  }
  @include m(mini) {
    & .el-radio-button__inner {
      @include button-size(
        $--button-mini-padding-vertical,
        $--button-mini-padding-horizontal,
        $--button-mini-font-size,
        0
      );
    }
  }

  &:focus:not(.is-focus):not(:active):not(.is-disabled) {
    /*获得焦点时 样式提醒*/
    box-shadow: 0 0 2px 2px $--radio-button-checked-border-color;
  }
}
