@import 'mixins/mixins';

@include b(steps) {
  display: flex;

  @include m(simple) {
    padding: 13px 8%;
    background: $--background-color-base;
    border-radius: 4px;
  }

  @include m(horizontal) {
    white-space: nowrap;
  }

  @include m(vertical) {
    flex-flow: column;
    height: 100%;
  }
}
