.q-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 2px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: 20px;
  color: rgba(var(--color-rgb-gray), 0.64);
  white-space: nowrap;
  background-color: var(--color-tertiary-gray-darker);
  border-radius: 2px;

  &_closable {
    padding-right: 2px;
  }

  .q-cascader &:first-child {
    max-width: 65%;
  }

  &__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__close {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;

    &:hover {
      color: var(--color-primary-black);
    }
  }
}
