h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

a,
.link {
  color: var(--color-water-blue);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

.small-text {
  font-size: 12px;
}
