@import './main.scss';

body {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--color-dark-silver);
  background-color: var(--color-back-gray);
}

@import './components/pagination.scss';
@import './components/dialog.scss';
@import './components/autocomplete.scss';
@import './components/dropdown.scss';
@import './components/dropdown-menu.scss';
@import './components/dropdown-item.scss';
@import './components/menu.scss';
@import './components/submenu.scss';
@import './components/menu-item.scss';
@import './components/menu-item-group.scss';
@import './components/input.scss';
@import './components/input-number.scss';
@import './components/radio.scss';
@import './components/radio-group.scss';
@import './components/radio-button.scss';
@import './components/checkbox.scss';
@import './components/checkbox-button.scss';
@import './components/checkbox-group.scss';
@import './components/switch.scss';
@import './components/select.scss';
@import './components/button.scss';
@import './components/button-group.scss';
@import './components/table.scss';
@import './components/table-column.scss';
@import './components/date-picker.scss';
@import './components/time-select.scss';
@import './components/time-picker.scss';
@import './components/popover.scss';
@import './components/tooltip.scss';
@import './components/message-box.scss';
@import './components/breadcrumb.scss';
@import './components/breadcrumb-item.scss';
@import './components/form.scss';
@import './components/form-item.scss';
@import './components/tabs.scss';
@import './components/tab-pane.scss';
@import './components/tag.scss';
@import './components/tree.scss';
@import './components/alert.scss';
@import './components/notification.scss';
@import './components/slider.scss';
@import './components/loading.scss';
@import './components/row.scss';
@import './components/col.scss';
@import './components/upload.scss';
@import './components/progress.scss';
@import './components/spinner.scss';
@import './components/message.scss';
@import './components/badge.scss';
@import './components/card.scss';
@import './components/rate.scss';
@import './components/steps.scss';
@import './components/step.scss';
@import './components/carousel.scss';
@import './components/scrollbar.scss';
@import './components/carousel-item.scss';
@import './components/collapse.scss';
@import './components/collapse-item.scss';
@import './components/cascader.scss';
@import './components/color-picker.scss';
@import './components/transfer.scss';
@import './components/container.scss';
@import './components/header.scss';
@import './components/aside.scss';
@import './components/footer.scss';
@import './components/cascader-panel.scss';