:root {
  --color-primary-1: #1d1c1a;
  --color-primary-2: #5ecae7;
  --color-primary-3: #74aff8;
  --color-primary-4: #4162f0;
  --color-primary-5: #d048b4;
  --color-primary-6: #de4b7a;

  --color-secondary-1: #f95e2d;
  --color-secondary-2: #40ba3e;

  --color-opacity-1: rgba(255, 255, 255, 0.64);
  --color-opacity-2: rgba(29, 28, 26, 0.16);
  --color-opacity-3: rgba(29, 28, 26, 0.32);
  --color-opacity-4: rgba(29, 28, 26, 0.64);

  --color-controls-1: #fafafa;
  --color-controls-2: #f4f4f6;
  --color-controls-3: #f0f0f3;
  --color-controls-4: #eaeaea;
}
