$--fonts-path: '~@qvant/design-system/src/fonts';

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
    url('#{fonts-path}/Robotolight.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('#{fonts-path}/Robotoext.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('#{fonts-path}/Roboto.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('#{fonts-path}/Robotoitalic.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('#{fonts-path}/Robotomedium.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('#{fonts-path}/Robotobold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: 'element-icons';
  src: url('#{fonts-path}/element-icons.woff') format('woff'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}