@import './normalize.scss';

@import './neumorphism/main.scss';
@import './neumorphism/common/transition.scss';
@import './colors.scss';

body {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Gilroy', sans-serif;
  color: var(--color-opacity-gray-dark);
  background-color: var(--color-controls-light);
}
