@import './normalize.scss';

@import './neumorphism/common/transition.scss';
@import './vars.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: 'Gilroy', sans-serif;
  color: rgba(var(--color-rgb-gray), 0.64);
  letter-spacing: var(--letter-spacing-base);
  background-color: var(--color-tertiary-gray-lighter);
}

svg {
  vertical-align: middle;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

a {
  color: var(--color-primary-blue);
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
