@import './normalize.scss';

@import './neumorphism/main.scss';
@import './neumorphism/common/transition.scss';
@import './vars.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-weight: var(--font-weight-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: 'Gilroy', sans-serif;
  color: var(--color-opacity-gray-dark);
  background-color: var(--color-controls-light);
}

svg {
  vertical-align: middle;
}
