@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
    url('/static/fonts/Robotolight.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('/static/fonts/Robotoext.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('/static/fonts/Roboto.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('/static/fonts/Robotoitalic.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('/static/fonts/Robotomedium.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/static/fonts/Robotobold.woff') format('woff');
}

a,
.link {
  color: var(--color-water-blue);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 24px;
}

.small-text {
  font-size: 12px;
}
